@external faces-*;

.facesBackboneTopMenuDisposal .faces-TopMenuDisposal-layoutWrapperPanel
{
	display: -webkit-box;    /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;       /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox !important;   	/* TWEENER - IE 10 */
	display: flexbox !important;		/* TWEENER - IE 10 */
	display: -webkit-flex;	/* NEW - Chrome */
	display: flex; 	/* NEW, Spec - Opera 12.1, Firefox 20+ */
/*	display:flex; */
	min-height:100vh;
	flex-direction:column;
	-ms-flex-direction:column;
	flex-pack: distribute;
}

@if user.agent ie10
{
	.facesBackboneTopMenuDisposal
	{
		display:block !important;
	}
}


.facesBackboneTopMenuDisposal .faces-TopMenuDisposal-contentPanel
{
	flex:0 1 auto;
}