/******************************************************************************
	Message Box
*******************************************************************************/
.crux-MessageBox
{
	color:#333333;
	font-family:Courier,monospace;
	font-size:12px;
	font-weight:bold;
}
.crux-MessageBox .dialogTopLeft 
{
	height:30px;
	width:5px;
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat top left;
	cursor: move;
}
.crux-MessageBox .dialogTopCenter 
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/title-panel-blue.gif) no-repeat top center;
	cursor: move;
}
.crux-MessageBox .dialogTopRight
{
	width:5px;
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat top right;
	cursor: move;
}
.crux-MessageBox .dialogMiddleLeft
{
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat center left;
}
.crux-MessageBox .dialogMiddleCenter
{
	background: url(../img/title-panel-blue.gif) no-repeat center center;
}
.crux-MessageBox .dialogMiddleRight
{
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat center right;
}
.crux-MessageBox .dialogBottomLeft
{
	font-size: 0px;
	height:5px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom left;
}
.crux-MessageBox .dialogBottomCenter
{
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom center;
}
.crux-MessageBox .dialogBottomRight
{
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom right;
}
.crux-MessageBox .message
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #4E4E4E;
	padding: 5px;
}

/******************************************************************************
	Progress Dialog
*******************************************************************************/
.crux-ProgressDialog
{
}
.crux-ProgressDialog .dialogTopLeft
{
	width: 4px;
	height: 4px;
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.gif) no-repeat top left;
	cursor: move;	
}
.crux-ProgressDialog .dialogTopCenter
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.gif) no-repeat top center;
	cursor: move;	
}
.crux-ProgressDialog .dialogTopRight
{
	width: 4px;
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.gif) no-repeat top right;
	cursor: move;	
}
.crux-ProgressDialog .dialogMiddleLeft
{
	height: 20px;
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.gif) no-repeat left;	
}
.crux-ProgressDialog .dialogMiddleCenter
{
	font-size: 0px;
	font-family: monospace;
	background-color: #FFFFFF;
}
.crux-ProgressDialog .dialogMiddleRight
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.gif) no-repeat right;
}
.crux-ProgressDialog .dialogBottomLeft
{
	height: 4px;
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.gif) no-repeat bottom left;	
}
.crux-ProgressDialog .dialogBottomCenter
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.gif) no-repeat bottom center;	
}
.crux-ProgressDialog .dialogBottomRight
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.gif) no-repeat bottom right;	
}
.crux-ProgressDialog .icon
{
	background: url(../img/progress-dialog-icon.gif) no-repeat;
	width: 16px;
	height: 16px;
	margin-left: 8px;
}
.crux-ProgressDialog .message
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #7d7d7d;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
}

/******************************************************************************
	Popup
*******************************************************************************/
.crux-Popup
{
	color:#333333;
	font-family:Courier,monospace;
	font-size:12px;
	font-weight:bold;
}
.crux-Popup .topLeftCell
{
	height:30px;
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat top left;
	cursor: move;
}
.crux-Popup .topCenterCell
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	width: 100%;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/title-panel-blue.gif) no-repeat top center;
	cursor: move;
}
.crux-Popup .topRightCell
{
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat top right;
	padding-right: 5px;
	cursor: move;
}
.crux-Popup .middleLeftCell
{
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat center left;
}
.crux-Popup .middleCenterCell
{
	padding: 2px;
	background: url(../img/title-panel-blue.gif) no-repeat center center;
}
.crux-Popup .middleRightCell
{
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat center right;
}
.crux-Popup .bottomLeftCell
{
	font-size: 1px;
	font-family: monospace;
	height:5px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom left;
}
.crux-Popup .bottomCenterCell
{
	font-size: 1px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat bottom center;
}
.crux-Popup .bottomRightCell
{
	font-size: 1px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat bottom right;
}
.crux-Popup .closeButton
{
	font-size: 0px;
	background: url(../img/popup-close.gif) no-repeat bottom right;
	width: 13px;
	height: 13px;
	margin-right: 5px;
	cursor: pointer;
}
.crux-Popup .closeButton-disabled
{
	cursor: wait;
}
.crux-Popup-dragging
{
	opacity:0.7;
	filter:alpha(opacity=70);
}

/******************************************************************************
	Confirm
*******************************************************************************/
.crux-Confirm
{
	color:#333333;
	font-family:Courier,monospace;
	font-size:12px;
	font-weight:bold;
}
.crux-Confirm .dialogTopLeft 
{
	height:30px;
	width:5px;
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat top left;
	cursor: move;
}
.crux-Confirm .dialogTopCenter 
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/title-panel-blue.gif) no-repeat top center;
	cursor: move;
}
.crux-Confirm .dialogTopRight
{
	width:5px;
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat top right;
	cursor: move;
}
.crux-Confirm .dialogMiddleLeft
{
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat center left;
}
.crux-Confirm .dialogMiddleCenter
{
	background: url(../img/title-panel-blue.gif) no-repeat center center;
}
.crux-Confirm .dialogMiddleRight
{
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat center right;
}
.crux-Confirm .dialogBottomLeft
{
	font-size: 0px;
	height:5px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom left;
}
.crux-Confirm .dialogBottomCenter
{
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom center;
}
.crux-Confirm .dialogBottomRight
{
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom right;
}
.crux-Confirm .message
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #4E4E4E;
	padding: 5px;
}

/******************************************************************************
	Timer
*******************************************************************************/
.crux-Timer
{
	font-family:Verdana,Arial,Helvetica;
	font-weight:bold;
	font-size:13px;
	color:#6C83C3;
}

/******************************************************************************
	Scroll Banner
*******************************************************************************/
.crux-ScrollBanner .previousMessageButton, .crux-ScrollBanner .nextMessageButton
{
	background-image: url(../img/scroll-banner-arrow-up.gif);
	background-repeat: no-repeat;
	background-position: center;
	width: 13px;
	height: 13px;
	font-size: 0px;
	cursor: pointer;
}
.crux-ScrollBanner .nextMessageButton 
{
	background-image: url(../img/scroll-banner-arrow-down.gif);
}

.crux-ScrollBanner .message
{
	color:#6C83C3;
	font-size:12px;
	font-weight:bold;
	font-family:Verdana,Arial,Helvetica;
	padding: 2px;
	text-align: left;
}

.crux-ScrollBanner .messageCount
{
	color:#6C83C3;
	font-size:12px;
	font-weight:bold;
	font-family:Verdana,Arial,Helvetica;
}

/******************************************************************************
	Filter
*******************************************************************************/
.crux-Filter
{
	background-color: #FFFFFF;
	border: solid 1px #9dc3e9;
	background-image: url(../img/filter-lens.gif);
	background-position: top right;
	background-repeat: no-repeat;
	height: 22px;
	width: 141px;
	font-size: 13px;
	font-family: arial, sans-serif;
	padding-left: 2px;
	color: #CCCCCC;
}
.crux-Filter-focused
{
	background-image: url(../img/filter-lens-focused.gif);
	color: #505050;
}

/******************************************************************************
	Stack Menu
*******************************************************************************/
/*=====================
    first level 
=====================*/
.crux-StackMenu .item
{
	width: 141px;
	height: 23px;
	background-image: url(../img/menu-lv1-off.gif);
	background-repeat: no-repeat;
	cursor:pointer;
	margin-bottom: 1px;
}
.crux-StackMenu .itemLabel
{
	color:#6C83C3;
	font-family:Verdana,Arial,Helvetica;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	padding:4px 0 2px 10px;
}
.crux-StackMenu .hasSubItems
{
	width: 3px;
	height: 5px;
	background-image: url(../img/menu-lv1-has-sub.gif);
	background-repeat: no-repeat;
	padding-right: 5px;
}
.crux-StackMenu .item-over
{
	background-image: url(../img/menu-lv1-on.gif);
}
.crux-StackMenu .item-over .itemLabel
{
	color: #FFFFFF;
}
.crux-StackMenu .item-over .hasSubItems
{
	background-image: url(../img/menu-lv1-has-sub_on.gif) !important;
}
/*=====================
    second level 
=====================*/
.crux-StackMenu .subItemsWrapper .item
{
	width:135px;
	height:19px;
	background-image: url(../img/menu-lv2-off.gif);
	background-repeat: repeat-x;
	background-position: top center;
	cursor:pointer;
	border-bottom:1px solid #CFCFCF;
	border-left:1px solid #CFCFCF;
	border-right:1px solid #CFCFCF;
	margin-left:6px;
}
.crux-StackMenu .subItemsWrapper .itemLabel
{
	color:#787878;
	font-family:Verdana,Arial,Helvetica;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	padding:4px 0 6px 10px;
}
.crux-StackMenu .subItemsWrapper .hasSubItems, 
{
	width: 5px;
	height: 3px;
	background-image: url(../img/menu-lv2-has-sub-off.gif);
	background-repeat: no-repeat;
	padding-right: 5px;
}
.crux-StackMenu .subItemsWrapper .item-over
{
	background-image: url(../img/menu-lv2-on.gif);
	background-repeat: repeat-x;
	background-position: top center;
}
.crux-StackMenu .subItemsWrapper .item-over .hasSubItems
{
	background-image: url(../img/menu-lv2-has-sub-off.gif);
}
.crux-StackMenu .subItemsWrapper .item-open .hasSubItems
{
	background-image: url(../img/menu-lv2-has-sub-on.gif);
}
.crux-StackMenu .subItemsWrapper .item-open .itemLabel
{
	color:#9FABEC;
}
/*=====================
    third level 
=====================*/
.crux-StackMenu .subItemsWrapper .subItemsWrapper .item
{
	width:128px;
	height:30px;
	background-image: url();
	background-color: #FAFAFA;
	border-bottom:1px solid #DEDEDE;
	border-left:1px solid #DEDEDE;
	border-right:1px solid #DEDEDE;
	margin-left:9px;
}
.crux-StackMenu .subItemsWrapper .subItemsWrapper .itemLabel
{
	font-weight: normal;
}

/******************************************************************************
	Wizard
*******************************************************************************/
.crux-Wizard
{
}

.crux-Wizard IFRAME
{
	border: solid 0px !important;
	height: 99.0% !important;
}

/******************************************************************************
	Dyna Tabs
*******************************************************************************/
.crux-DynaTabs .gwt-TabBarFirst
{
	width:5px !important;
	overflow: hidden;
	font-size:0px;
	padding: 0px;
	margin: 0px !important;
}
.crux-DynaTabs .gwt-TabBarFirst, .crux-DynaTabs .gwt-TabBarRest  
{
	height:26px !important;
	padding:0px;
}
.crux-DynaTabs .gwt-TabPanelBottom
{
	height: 99.7%;
	border: solid 0px;
	border-top: solid 2px #A5CCEF;
	overflow: hidden;
}
.crux-DynaTabs IFRAME
{
	border: solid 0px !important;
	height: 99.0% !important;
}			  
.crux-DynaTabs .gwt-TabBarItem 
{
	background-image: none;
	cursor:default;
	white-space:nowrap;
	height:23px;
	opacity:0.4;
	filter:alpha(opacity=40);
	background-color: transparent !important;
	cursor:default;
	font-weight:bold;
	margin:0px !important;
	padding:0px !important;
	text-align:center;
}
.crux-DynaTabs .gwt-TabBarItem-selected
{
	opacity:1;
	filter:alpha(opacity=100);
}
.crux-DynaTabs .flapLeft
{
	padding:1px !important;
	font-family:arial;
	font-size:0px;
	width:3px !important;
	height:23px;
	background-image: url(../img/tabs_left.gif);
	background-repeat: no-repeat;
	background-position: top left; 
}
.crux-DynaTabs .flapRight 
{
	padding:1px !important;
	font-family:arial;
	font-size:15px;
	width:5px;
	height:23px;
	background-repeat: no-repeat;
	background-position: top right; 
	background-image: url(../img/tabs_right.gif);
}
.crux-DynaTabs .flapCenter
{
	background-image: url(../img/tabs_bg_label.gif);
	background-position: top;
	background-repeat: repeat-x;
}
.crux-DynaTabs .flapLabel
{
	cursor:default;
	font-family:arial;
	font-weight:bold;
	font-size:11px;
	color:#6C83C3;
	padding-top:3px;
	padding-bottom:4px;
	padding-left:5px;
	padding-right:5px;
	white-space:nowrap;
}
.crux-DynaTabs .gwt-TabPanelBottom
{
	padding: 0px;
	overflow:auto;
} 
.crux-DynaTabs .flapCloseButton 
{
	background-image: url(../img/dyna-tabs-close.gif);
	background-position: middle right;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin-top: 3px;
	cursor: pointer;
	margin-right: 0px;
}
.crux-DynaTabs .flapCloseButton-disable 
{
	cursor: wait;
}

/******************************************************************************
	Transfer List
*******************************************************************************/
.crux-TransferList .leftList, .crux-TransferList .rightList
{
	width: 180px;
	border: solid 1px #93989C;
	font-size:12px;
	font-family: sans-serif,Arial,Helvetica;	
} 
.crux-TransferList .moveToRight, .crux-TransferList .moveToLeft
{
	width: 50px;
	height: 20px;
	border:	solid 2px #0157A9;
	background: url(../img/transfer-list-button.gif) repeat-x top left;
	color: #FFFFFF;
	font-family:Arial,Helvetica;
	font-size:12px;
	font-weight:bold !important;	
}
.crux-TransferList .gwt-Label
{
	color: #5A6FAC;
	font-weight: bold;
}

/******************************************************************************
	Decorated Button
*******************************************************************************/
.crux-DecoratedButton TD
{
	height: 23px;
}
.crux-DecoratedButton-down .centerCell
{
	padding-top: 2px;
}
.crux-DecoratedButton .leftCell 
{
	width:2px;
	font-size: 0px;
	font-family: monospace;
	padding: 0px !important;
	margin: 0px !important;
	background: url(../img/decorated-button-left.gif) no-repeat top left;
}
.crux-DecoratedButton-disabled .leftCell
{
	background: url(../img/decorated-button-left-disabled.gif) no-repeat top left;
}
.crux-DecoratedButton .centerCell
{
	color:#FFFFFF;
	font-family:Arial,Verdana,Helvetica;
	font-weight: bold;
	font-size:11px;
	background: url(../img/decorated-button-center.gif) repeat-x top center;
	padding-left: 3px;
	padding-right: 3px;
	cursor: default;
}
.crux-DecoratedButton-disabled .centerCell
{
	background: url(../img/decorated-button-center-disabled.gif) repeat-x top center;
	font-family:Arial,Verdana,Helvetica;
	font-weight: bold;
	font-size:11px;
}
.crux-DecoratedButton .rightCell 
{
	width:2px;
	font-family: monospace;
	font-size: 0px;
	padding: 0px !important;
	margin: 0px !important;
	background: url(../img/decorated-button-right.gif) no-repeat top right;
}
.crux-DecoratedButton-disabled .rightCell
{
	background: url(../img/decorated-button-right-disabled.gif) no-repeat top right;
}

/******************************************************************************
	Title Panel
*******************************************************************************/
.crux-TitlePanel
{
	margin-bottom: 6px;
}
.crux-TitlePanel .topLeftCell 
{
	height:30px;
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat top left;
}
.crux-TitlePanel .topCenterCell 
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/title-panel-blue.gif) no-repeat top center;
}
.crux-TitlePanel .topCenterRightCell 
{
	width: 0px;
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat top center;
}
.crux-TitlePanel .topRightCell
{
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat top right;
}
.crux-TitlePanel .middleLeftCell
{
	width: 5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat center left;
}
.crux-TitlePanel .middleCenterCell
{
	background: url(../img/title-panel-blue.gif) no-repeat center center;
}
.crux-TitlePanel .middleRightCell
{
	width: 5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat center right;
}
.crux-TitlePanel .bottomLeftCell
{
	font-size: 0px;
	font-family: monospace;
	height:5px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom left;
}
.crux-TitlePanel .bottomCenterCell
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat bottom center;
}
.crux-TitlePanel .bottomRightCell
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat bottom right;
}

/******************************************************************************
	Collapse Panel
*******************************************************************************/
.crux-CollapsePanel
{
	margin-bottom: 6px;
}
.crux-CollapsePanel .topLeftCell 
{
	height:30px;
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat top left;
}
.crux-CollapsePanel .topCenterCell 
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/title-panel-blue.gif) no-repeat top center;
}
.crux-CollapsePanel .topRightCell
{
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat top right;
	padding-right: 5px;
}
.crux-CollapsePanel .middleLeftCell
{
	width: 5px;
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat center left;
}
.crux-CollapsePanel .middleCenterCell
{
	padding: 2px;
	background: url(../img/title-panel-blue.gif) no-repeat center center;
}
.crux-CollapsePanel .middleRightCell
{
	width: 5px;
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat center right;
}
.crux-CollapsePanel .bottomLeftCell
{
	font-size: 0px;
	height:5px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom left;
}
.crux-CollapsePanel .bottomCenterCell
{
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom center;
}
.crux-CollapsePanel .bottomRightCell
{
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom right;
}

.crux-CollapsePanel .collapseExpandButton
{
	width: 11px;
	height: 11px;
	border: solid 0px;
	cursor: pointer;	
}

.crux-CollapsePanel .collapseExpandButton-collapsed
{
	background: url(../img/collapse-panel-expand.gif) no-repeat;
}

.crux-CollapsePanel .collapseExpandButton-expanded
{
	background: url(../img/collapse-panel-collapse.gif) no-repeat;
}


/******************************************************************************
	Bold Gray Decorated Panel
*******************************************************************************/
.crux-DecoratedPanel
{
}
.crux-DecoratedPanel .topLeftCell 
{
	font-size: 0px;
	font-family: monospace;
	height:5px;
	width:5px;
	background: url(../img/decorated-panel.gif) no-repeat top left;
}
.crux-DecoratedPanel .topCenterCell 
{
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat top center;
}
.crux-DecoratedPanel .topCenterRightCell 
{
	width: 0px;
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat top center;
}
.crux-DecoratedPanel .topRightCell
{
	font-size: 0px;
	font-family: monospace;
	width:5px;
	background: url(../img/decorated-panel.gif) no-repeat top right;
}
.crux-DecoratedPanel .middleLeftCell
{
	width:5px;
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat center left;
}
.crux-DecoratedPanel .middleCenterCell
{
	background: url(../img/decorated-panel.gif) no-repeat center center;
}
.crux-DecoratedPanel .middleRightCell
{
	width:5px;
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat center right;
}
.crux-DecoratedPanel .bottomLeftCell
{
	font-size: 0px;
	height:5px;
	background: url(../img/decorated-panel.gif) no-repeat bottom left;
}
.crux-DecoratedPanel .bottomCenterCell
{
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat bottom center;
}
.crux-DecoratedPanel .bottomRightCell
{
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat bottom right;
}

/******************************************************************************
	Grid
*******************************************************************************/
.crux-Grid
{
	border: solid 2px #D0E4F6 !important;
}
.crux-Grid .row
{
	background-color:#FFFFFF;
	height: 28px;
}
.crux-Grid .row .cellWrapper
{
	vertical-align:middle;
	background-color:#FFFFFF;
	border-bottom: solid 1px #F0F0F0; 
	border-right: solid 1px #F0F0F0;
}
.crux-Grid .row .cell
{
	color:#4E4E4E;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size:11px;
	font-weight:normal;
	vertical-align:middle;
	background-color:#FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
	overflow-y: visible;
	overflow-x: hidden;
	width: 50px;
}
.crux-Grid .row .rowSelector
{
	padding-top: 0px;
	padding-bottom: 0px;
}
.crux-Grid .row-selected .cellWrapper, .crux-Grid .row-selected .cell  
{
	background-color: #F5F5F5;
}
.crux-Grid .row-disabled .cell
{
	opacity:0.4;
	filter:alpha(opacity=40);
}
.crux-Grid .row-highlighted .cellWrapper, .crux-Grid .row-highlighted .cell
{
	background-color: #FFFFE1;
}
.crux-Grid .columnHeadersRow
{
	background-color: #DFE6F0;
}
.crux-Grid .columnHeadersRow .cellWrapper
{
	background-image: url(../img/grid-header.gif);
	border-bottom: solid 2px #C5E0F0;
	border-right: solid 1px #D0E4F6;
	height: 28px;
	text-align: center;
}
.crux-Grid .columnHeadersRow .cellWrapper-rowSelectionColumn
{
	width: 25px;
}
.crux-Grid .columnHeader
{
	padding: 0px;
	text-align: center;
	display: inline-block;
}
.crux-Grid .columnHeader .label
{
	color:#6C83C3;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	padding-left: 3px;
}
.crux-Grid .columnSorter
{
	cursor: pointer;
	text-align: center;
	width: auto;
	display: inline;
}
.crux-Grid .columnSorter-desc .arrow
{
	background-image: url(../img/grid-sorting-arrow-down.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 7px;
	height: 4px;
	font-size: 4px;
	font-family: monospace;
	margin-left: 2px;
	margin-right: 2px;
}
.crux-Grid .columnSorter-asc .arrow
{
	background-image: url(../img/grid-sorting-arrow-up.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 7px;
	height: 4px;
	font-size: 4px;
	font-family: monospace;
	margin-left: 2px;
	margin-right: 2px; 
}
.crux-Grid .columnSorter-asc .label
{
	text-decoration: underline;
}
.crux-Grid .columnSorter-desc .label
{
	text-decoration: underline;
}

/******************************************************************************
	Sequential Pager
*******************************************************************************/
.crux-SequentialPager
{
	height: 12px;
}
.crux-SequentialPager .previousButton
{
	width: 9px;
	height: 10px;
	font-size: 10px;
	font-family: monospace;
	background-image: url(../img/pager-previous.gif);
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer; 
	margin-left: 5px;
}
.crux-SequentialPager .nextButton
{
	width: 9px;
	height: 10px;
	font-size: 10px;
	font-family: monospace;
	background-image: url(../img/pager-next.gif);
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
	margin-right: 5px;
}
.crux-SequentialPager .currentPageLabel
{
	color:#2077A9;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size:11px;
	font-weight: bold;
	text-align: center;
	width: 30px;
	height: 13px;
}
.crux-SequentialPager .previousButton-disabled
{
	opacity:0.2;
	filter:alpha(opacity=20);
}
.crux-SequentialPager .nextButton-disabled
{
	opacity:0.2;
	filter:alpha(opacity=20);
}
.crux-RandomPager .previousButton
{
	width: 9px;
	height: 10px;
	font-size: 10px;
	font-family: monospace;
	background-image: url(../img/pager-previous.gif);
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer; 
	margin-left: 5px;
}
.crux-RandomPager .nextButton
{
	width: 9px;
	height: 10px;
	font-size: 10px;
	font-family: monospace;
	background-image: url(../img/pager-next.gif);
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
	margin-right: 5px;
}
.crux-RandomPager .previousButton-disabled
{
	opacity:0.2;
	filter:alpha(opacity=20);
}
.crux-RandomPager .nextButton-disabled
{
	opacity:0.2;
	filter:alpha(opacity=20);
}
.crux-RandomPager .firstButton
{
	width: 16px;
	height: 10px;
	font-size: 10px;
	font-family: monospace;
	background-image: url(../img/pager-first.gif);
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer; 
	margin-left: 5px;
}
.crux-RandomPager .lastButton
{
	width: 16px;
	height: 10px;
	font-size: 10px;
	font-family: monospace;
	background-image: url(../img/pager-last.gif);
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
	margin-right: 5px;
}
.crux-RandomPager .firstButton-disabled
{
	opacity:0.2;
	filter:alpha(opacity=20);
}
.crux-RandomPager .lastButton-disabled
{
	opacity:0.2;
	filter:alpha(opacity=20);
}
.crux-RandomPager .gwt-ListBox
{
	color:#2077A9;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size:10px;
	margin-left: 3px;
	margin-right: 3px;
}


/******************************************************************************
	Screen Blockers
*******************************************************************************/
.crux-DefaultScreenBlocker
{
	background-color: #FFFFFF;
	opacity: .01;
	filter:alpha(opacity=1);
	cursor: wait;
}
.crux-MessageBoxScreenBlocker, .crux-ProgressDialogScreenBlocker, .crux-PopupScreenBlocker, .crux-ConfirmScreenBlocker
{
	background-color: #FAFAFA;
	filter:alpha(opacity=80);
	-moz-opacity: 0.80;
	opacity: .80;
}