/******************************************************************************
	Message Box
*******************************************************************************/
.crux-MessageBox
{
	color:#333333;
	font-family:Courier,monospace;
	font-size:12px;
	font-weight:bold;
}
.crux-MessageBox .dialogTopLeft 
{
	height:40px;
	width:15px;
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat top left;
	cursor: move;
}
.crux-MessageBox .dialogTopCenter 
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/dialogs-blue-bg.png) no-repeat top center;
	cursor: move;
	padding-top: 8px;
	padding-left: 2px;
}
.crux-MessageBox .dialogTopRight
{
	width:15px;
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat top right;
	cursor: move;
}
.crux-MessageBox .dialogMiddleLeft
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat center left;
}
.crux-MessageBox .dialogMiddleCenter
{
	background: url(../img/dialogs-blue-bg.png) no-repeat center center;
}
.crux-MessageBox .dialogMiddleRight
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat center right;
}
.crux-MessageBox .dialogBottomLeft
{
	font-size: 0px;
	height:15px;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom left;
}
.crux-MessageBox .dialogBottomCenter
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom center;
}
.crux-MessageBox .dialogBottomRight
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom right;
}
.crux-MessageBox .message
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #4E4E4E;
	padding: 5px;
}

/******************************************************************************
	Progress Dialog
*******************************************************************************/
.crux-ProgressDialog
{
}
.crux-ProgressDialog .dialogTopLeft
{
	width: 14px;
	height: 14px;
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat top left;
	cursor: move;	
}
.crux-ProgressDialog .dialogTopCenter
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat top center;
	cursor: move;
	padding-top: 8px;
	padding-left: 2px;
}
.crux-ProgressDialog .dialogTopRight
{
	width: 14px;
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat top right;
	cursor: move;	
}
.crux-ProgressDialog .dialogMiddleLeft
{
	height: 20px;
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat left;	
}
.crux-ProgressDialog .dialogMiddleCenter
{
	font-size: 0px;
	font-family: monospace;
	background-color: #FFFFFF;
}
.crux-ProgressDialog .dialogMiddleRight
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat right;
}
.crux-ProgressDialog .dialogBottomLeft
{
	height: 14px;
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat bottom left;	
}
.crux-ProgressDialog .dialogBottomCenter
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat bottom center;	
}
.crux-ProgressDialog .dialogBottomRight
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat bottom right;	
}
.crux-ProgressDialog .icon
{
	background: url(../img/progress-dialog-icon.gif) no-repeat;
	width: 16px;
	height: 16px;
	margin-left: 8px;
}
.crux-ProgressDialog .message
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #7d7d7d;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
}

/******************************************************************************
	Popup
*******************************************************************************/
.crux-Popup
{
	color:#333333;
	font-family:Courier,monospace;
	font-size:12px;
	font-weight:bold;
}
.crux-Popup .topLeftCell
{
	height:40px;
	width:15px;
	font-size: 15px;
	font-family: monospace;
	background: url(../img/dialogs-blue-bg.png) no-repeat top left;
	cursor: move;
}
.crux-Popup .topCenterCell
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/dialogs-blue-bg.png) no-repeat top center;
	cursor: move;
	padding-top: 8px;
	padding-left: 2px;
	width: 85%;
}
.crux-Popup .topRightCell
{
	width:15px;
	font-size: 15px;
	font-family: monospace;
	background: url(../img/dialogs-blue-bg.png) no-repeat top right;
	padding-right: 5px;
	cursor: move;
}
.crux-Popup .middleLeftCell
{
	width:15px;
	font-size: 15px;
	font-family: monospace;
	background: url(../img/dialogs-blue-bg.png) no-repeat center left;
}
.crux-Popup .middleCenterCell
{
	padding: 2px;
	background: url(../img/dialogs-blue-bg.png) no-repeat center center;
}
.crux-Popup .middleRightCell
{
	width:15px;
	font-size: 15px;
	font-family: monospace;
	background: url(../img/dialogs-blue-bg.png) no-repeat center right;
}
.crux-Popup .bottomLeftCell
{
	font-size: 1px;
	font-family: monospace;
	height:15px;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom left;
}
.crux-Popup .bottomCenterCell
{
	font-size: 1px;
	font-family: monospace;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom center;
}
.crux-Popup .bottomRightCell
{
	font-size: 1px;
	font-family: monospace;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom right;
}
.crux-Popup .closeButton
{
	font-size: 0px;
	background: url(../img/popup-close.gif) no-repeat bottom right;
	width: 13px;
	height: 13px;
	margin-right: 15px;
	margin-top: 8px;
	cursor: pointer;
}
.crux-Popup .closeButton-disabled
{
	cursor: wait;
}
.crux-Popup-dragging
{
	opacity:0.7;
	filter:alpha(opacity=70);
}

.crux-Popup-dragging .topLeftCell,		.crux-Popup-dragging .topCenterCell, 	.crux-Popup-dragging .topRightCell, 
.crux-Popup-dragging .middleLeftCell, 	.crux-Popup-dragging .middleCenterCell,	.crux-Popup-dragging .middleRightCell,
.crux-Popup-dragging .bottomLeftCell,	.crux-Popup-dragging .bottomCenterCell,	.crux-Popup-dragging .bottomRightCell
{
	background-image: url(../img/dialogs-blue-bg-noshadow.gif);	
}

/******************************************************************************
	Confirm
*******************************************************************************/
.crux-Confirm
{
	color:#333333;
	font-family:Courier,monospace;
	font-size:12px;
	font-weight:bold;
}
.crux-Confirm .dialogTopLeft 
{
	height:40px;
	width:15px;
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat top left;
	cursor: move;
}
.crux-Confirm .dialogTopCenter 
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/dialogs-blue-bg.png) no-repeat top center;
	cursor: move;
	padding-top: 8px;
	padding-left: 2px;
}
.crux-Confirm .dialogTopRight
{
	width:15px;
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat top right;
	cursor: move;
}
.crux-Confirm .dialogMiddleLeft
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat center left;
}
.crux-Confirm .dialogMiddleCenter
{
	background: url(../img/dialogs-blue-bg.png) no-repeat center center;
}
.crux-Confirm .dialogMiddleRight
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat center right;
}
.crux-Confirm .dialogBottomLeft
{
	font-size: 0px;
	height:15px;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom left;
}
.crux-Confirm .dialogBottomCenter
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom center;
}
.crux-Confirm .dialogBottomRight
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom right;
}
.crux-Confirm .message
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #4E4E4E;
	padding: 5px;
}

/******************************************************************************
	Wizard
*******************************************************************************/
.crux-Wizard
{
}

.crux-Wizard IFRAME
{
	border: solid 0px !important;
	height: 99.0% !important;
}
.crux-Wizard .crux-WizardControlBar .crux-DecoratedButton-finish
{
	margin-right: 15px;
}
.crux-Wizard .crux-WizardNavigationLabel
{
	color:#6C83C3;
	font-family:Verdana,Arial,Helvetica;
	font-size:11px;
	text-decoration:none;
}

.crux-Wizard .crux-WizardNavigationLabel-selected
{
	font-weight:bold;
}

.crux-Wizard .crux-WizardNavigationSeparator
{
	width: 20px;
	height: 11px;
	background: url(../img/wizard-step-hor-separator.gif) no-repeat center;
	font-family: monospace;
	font-size: 1px;
}

.crux-Wizard .crux-WizardControlBarSouthWrapper, .crux-Wizard .crux-WizardControlBarNorthWrapper
{
	height: 32px;
}
.crux-Wizard .crux-WizardNavigationBarSouthWrapper, .crux-Wizard .crux-WizardNavigationBarNorthWrapper
{
	height: 32px;
}
.crux-Wizard .crux-WizardControlBarWestWrapper, .crux-Wizard .crux-WizardControlBarEastWrapper
{
	width: 80px;
}
.crux-Wizard .crux-WizardNavigationBarWestWrapper, .crux-Wizard .crux-WizardNavigationBarEastWrapper
{
	width: 80px;
}
.crux-Wizard .crux-WizardControlBar .crux-DecoratedButton
{
	width: 70px;
}

/******************************************************************************
	DynaTabs
*******************************************************************************/

.crux-DynaTabs .flapLeft, .crux-TabPanel .flapLeft 
{
	padding:1px !important;
	font-family:arial;
	font-size:0px;
	width:3px !important;
	height:23px;
	background-image: url(../img/tabs_left.gif);
	background-repeat: no-repeat;
	background-position: top left; 
}
.crux-DynaTabs .flapRight, .crux-TabPanel .flapRight 
{
	padding:1px !important;
	font-family:arial;
	font-size:15px;
	width:5px;
	height:23px;
	background-repeat: no-repeat;
	background-position: top right; 
	background-image: url(../img/tabs_right.gif);
}
.crux-DynaTabs .flapCenter, .crux-TabPanel .flapCenter 
{
	background-image: url(../img/tabs_bg_label.gif);
	background-position: top;
	background-repeat: repeat-x;
}
.crux-DynaTabs .flapLabel, .crux-TabPanel .flapLabel 
{
	cursor:default;
	font-family:arial;
	font-weight:bold;
	font-size:11px;
	color:#6C83C3;
	padding-top:3px;
	padding-bottom:4px;
	padding-left:5px;
	padding-right:5px;
	white-space:nowrap;
}
.crux-DynaTabs .flapCloseButton 
{
	background-image: url(../img/dyna-tabs-close.gif);
	background-position: middle right;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin-top: 3px;
	cursor: pointer;
	margin-right: 0px;
	font-family: monospace;
	font-size: 0px;
}
.crux-DynaTabs .flapCloseButton-disable 
{
	cursor: wait;
}
.crux-DynaTabs IFRAME
{
	border: solid 0px !important;
	height: 99.0% !important;
}

/******************************************************************************
	Decorated Button
*******************************************************************************/
.crux-DecoratedButton
{
}
.crux-DecoratedButton TD
{
	height: 23px;
}
.crux-DecoratedButton-down .centerCell
{
	padding-top: 2px;
}
.crux-DecoratedButton .leftCell 
{
	width:2px;
	font-size: 0px;
	font-family: monospace;
	padding: 0px !important;
	margin: 0px !important;
	background: url(../img/decorated-button-left.gif) no-repeat top left;
}
.crux-DecoratedButton-disabled .leftCell
{
	background: url(../img/decorated-button-left-disabled.gif) no-repeat top left;
}
.crux-DecoratedButton .centerCell
{
	color:#FFFFFF;
	font-family:Arial,Verdana,Helvetica;
	font-weight: bold;
	font-size:11px;
	background: url(../img/decorated-button-center.gif) repeat-x top center;
	padding-left: 3px;
	padding-right: 3px;
	cursor: default;
}
.crux-DecoratedButton-disabled .centerCell
{
	background: url(../img/decorated-button-center-disabled.gif) repeat-x top center;
	font-family:Arial,Verdana,Helvetica;
	font-weight: bold;
	font-size:11px;
}
.crux-DecoratedButton .rightCell 
{
	width:2px;
	font-family: monospace;
	font-size: 0px;
	padding: 0px !important;
	margin: 0px !important;
	background: url(../img/decorated-button-right.gif) no-repeat top right;
}
.crux-DecoratedButton-disabled .rightCell
{
	background: url(../img/decorated-button-right-disabled.gif) no-repeat top right;
}

/******************************************************************************
	Title Panel
*******************************************************************************/
.crux-TitlePanel
{
	margin-bottom: 6px;
}
.crux-TitlePanel .topLeftCell 
{
	height:30px;
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat top left;
}
.crux-TitlePanel .topCenterCell 
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/title-panel-blue.gif) no-repeat top center;
}
.crux-TitlePanel .topCenterRightCell 
{
	width: 1px;
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat top center;
}
.crux-TitlePanel .topRightCell
{
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat top right;
}
.crux-TitlePanel .middleLeftCell
{
	width: 5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat center left;
}
.crux-TitlePanel .middleCenterCell
{
	background: url(../img/decorated-panel-smooth-bg.gif) repeat-x center bottom;
	background-color: #FFFFFF;
}
.crux-TitlePanel .middleRightCell
{
	width: 5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat center right;
}
.crux-TitlePanel .bottomLeftCell
{
	font-size: 0px;
	font-family: monospace;
	height:5px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom left;
}
.crux-TitlePanel .bottomCenterCell
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat bottom center;
}
.crux-TitlePanel .bottomRightCell
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat bottom right;
}

/******************************************************************************
	Collapse Panel
*******************************************************************************/
.crux-CollapsePanel
{
	margin-bottom: 6px;
}
.crux-CollapsePanel .topLeftCell 
{
	height:30px;
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat top left;
}
.crux-CollapsePanel .topCenterCell 
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/title-panel-blue.gif) no-repeat top center;
}
.crux-CollapsePanel .topRightCell
{
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat top right;
	padding-right: 5px;
}
.crux-CollapsePanel .middleLeftCell
{
	width: 5px;
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat center left;
}
.crux-CollapsePanel .middleCenterCell
{
	padding: 2px;
	background: url(../img/decorated-panel-smooth-bg.gif) repeat-x center bottom;
	background-color: #FFFFFF;
}
.crux-CollapsePanel .middleRightCell
{
	width: 5px;
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat center right;
}
.crux-CollapsePanel .bottomLeftCell
{
	font-size: 0px;
	height:5px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom left;
}
.crux-CollapsePanel .bottomCenterCell
{
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom center;
}
.crux-CollapsePanel .bottomRightCell
{
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom right;
}

.crux-CollapsePanel .collapseExpandButton
{
	width: 11px;
	height: 11px;
	border: solid 0px;
	cursor: pointer;	
}

.crux-CollapsePanel .collapseExpandButton-collapsed
{
	background: url(../img/collapse-panel-expand.gif) no-repeat;
}

.crux-CollapsePanel .collapseExpandButton-expanded
{
	background: url(../img/collapse-panel-collapse.gif) no-repeat;
}


/******************************************************************************
	Bold Gray Decorated Panel
*******************************************************************************/
.crux-DecoratedPanel
{
}
.crux-DecoratedPanel .topLeftCell 
{
	font-size: 0px;
	font-family: monospace;
	height:5px;
	width:5px;
	background: url(../img/decorated-panel.gif) no-repeat top left;
}
.crux-DecoratedPanel .topCenterCell 
{
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat top center;
}
.crux-DecoratedPanel .topCenterRightCell 
{
	width: 1px;
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat top center;
}
.crux-DecoratedPanel .topRightCell
{
	font-size: 0px;
	font-family: monospace;
	width:5px;
	background: url(../img/decorated-panel.gif) no-repeat top right;
}
.crux-DecoratedPanel .middleLeftCell
{
	width:5px;
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat center left;
}
.crux-DecoratedPanel .middleCenterCell
{
	background: url(../img/decorated-panel-smooth-bg.gif) repeat-x center bottom;
	background-color: #FFFFFF;
	display: inline;
}
.crux-DecoratedPanel .middleRightCell
{
	width:5px;
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat center right;
}
.crux-DecoratedPanel .bottomLeftCell
{
	font-size: 0px;
	height:5px;
	background: url(../img/decorated-panel.gif) no-repeat bottom left;
}
.crux-DecoratedPanel .bottomCenterCell
{
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat bottom center;
}
.crux-DecoratedPanel .bottomRightCell
{
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat bottom right;
}

/******************************************************************************
	Decorated Button
*******************************************************************************/
.crux-DecoratedButtonCSS3
{
	color:#FFFFFF;
	font-family:Arial,Helvetica;
	font-weight: bold;
	font-size:11px;
	text-decoration: none;
	cursor: default;
	border: solid 2px #0157a9;
	padding: 3px; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01,#89b4dc),color-stop(0.99,#447db2));
	background-image: -moz-linear-gradient(top, #89b4dc,#447db2);
}

.crux-DecoratedButtonCSS3:active
{
	background-image: #447db2;
}

.crux-DecoratedButtonCSS3-disabled, .crux-DecoratedButtonCSS3-disabled:active
{
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01,#d7d7d7),color-stop(0.99,#bbbbbb));
	background-image: -moz-linear-gradient(top, #d7d7d7,#bbbbbb);
	color: #FFFFFF;
	border: solid 2px #a8a8a8;	
}

			  
