/******************************************************************************
	Message Box
*******************************************************************************/
.crux-MessageBox
{
	color:#333333;
	font-family:Courier,monospace;
	font-size:12px;
	font-weight:bold;
}
.crux-MessageBox .dialogTopLeft 
{
	height:40px;
	width:15px;
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat top left;
	cursor: move;
}
.crux-MessageBox .dialogTopCenter 
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/dialogs-blue-bg.png) no-repeat top center;
	cursor: move;
	padding-top: 8px;
	padding-left: 2px;
}
.crux-MessageBox .dialogTopRight
{
	width:15px;
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat top right;
	cursor: move;
}
.crux-MessageBox .dialogMiddleLeft
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat center left;
}
.crux-MessageBox .dialogMiddleCenter
{
	background: url(../img/dialogs-blue-bg.png) no-repeat center center;
}
.crux-MessageBox .dialogMiddleRight
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat center right;
}
.crux-MessageBox .dialogBottomLeft
{
	font-size: 0px;
	height:15px;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom left;
}
.crux-MessageBox .dialogBottomCenter
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom center;
}
.crux-MessageBox .dialogBottomRight
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom right;
}
.crux-MessageBox .message
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #4E4E4E;
	padding: 5px;
}

/******************************************************************************
	Progress Dialog
*******************************************************************************/
.crux-ProgressDialog
{
}
.crux-ProgressDialog .dialogTopLeft
{
	width: 14px;
	height: 14px;
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat top left;
	cursor: move;	
}
.crux-ProgressDialog .dialogTopCenter
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat top center;
	cursor: move;
	padding-top: 8px;
	padding-left: 2px;
}
.crux-ProgressDialog .dialogTopRight
{
	width: 14px;
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat top right;
	cursor: move;	
}
.crux-ProgressDialog .dialogMiddleLeft
{
	height: 20px;
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat left;	
}
.crux-ProgressDialog .dialogMiddleCenter
{
	font-size: 0px;
	font-family: monospace;
	background-color: #FFFFFF;
}
.crux-ProgressDialog .dialogMiddleRight
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat right;
}
.crux-ProgressDialog .dialogBottomLeft
{
	height: 14px;
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat bottom left;	
}
.crux-ProgressDialog .dialogBottomCenter
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat bottom center;	
}
.crux-ProgressDialog .dialogBottomRight
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/progress-dialog.png) no-repeat bottom right;	
}
.crux-ProgressDialog .icon
{
	background: url(../img/progress-dialog-icon.gif) no-repeat;
	width: 16px;
	height: 16px;
	margin-left: 8px;
}
.crux-ProgressDialog .message
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #7d7d7d;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
}

/******************************************************************************
	Popup
*******************************************************************************/
.crux-Popup
{
	color:#333333;
	font-family:Courier,monospace;
	font-size:12px;
	font-weight:bold;
}
.crux-Popup .topLeftCell
{
	height:40px;
	width:15px;
	font-size: 15px;
	font-family: monospace;
	background: url(../img/dialogs-blue-bg.png) no-repeat top left;
	cursor: move;
}
.crux-Popup .topCenterCell
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/dialogs-blue-bg.png) no-repeat top center;
	cursor: move;
	padding-top: 8px;
	padding-left: 2px;
	width: 85%;
}
.crux-Popup .topRightCell
{
	width:15px;
	font-size: 15px;
	font-family: monospace;
	background: url(../img/dialogs-blue-bg.png) no-repeat top right;
	padding-right: 5px;
	cursor: move;
}
.crux-Popup .middleLeftCell
{
	width:15px;
	font-size: 15px;
	font-family: monospace;
	background: url(../img/dialogs-blue-bg.png) no-repeat center left;
}
.crux-Popup .middleCenterCell
{
	padding: 2px;
	background: url(../img/dialogs-blue-bg.png) no-repeat center center;
}
.crux-Popup .middleRightCell
{
	width:15px;
	font-size: 15px;
	font-family: monospace;
	background: url(../img/dialogs-blue-bg.png) no-repeat center right;
}
.crux-Popup .bottomLeftCell
{
	font-size: 1px;
	font-family: monospace;
	height:15px;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom left;
}
.crux-Popup .bottomCenterCell
{
	font-size: 1px;
	font-family: monospace;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom center;
}
.crux-Popup .bottomRightCell
{
	font-size: 1px;
	font-family: monospace;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom right;
}
.crux-Popup .closeButton
{
	font-size: 0px;
	background: url(../img/popup-close.gif) no-repeat bottom right;
	width: 13px;
	height: 13px;
	margin-right: 15px;
	margin-top: 8px;
	cursor: pointer;
}
.crux-Popup .closeButton-disabled
{
	cursor: wait;
}
.crux-Popup-dragging
{
	opacity:0.7;
	filter:alpha(opacity=70);
}

.crux-Popup-dragging .topLeftCell,		.crux-Popup-dragging .topCenterCell, 	.crux-Popup-dragging .topRightCell, 
.crux-Popup-dragging .middleLeftCell, 	.crux-Popup-dragging .middleCenterCell,	.crux-Popup-dragging .middleRightCell,
.crux-Popup-dragging .bottomLeftCell,	.crux-Popup-dragging .bottomCenterCell,	.crux-Popup-dragging .bottomRightCell
{
	background-image: url(../img/dialogs-blue-bg-noshadow.gif);	
}

/******************************************************************************
	Confirm
*******************************************************************************/
.crux-Confirm
{
	color:#333333;
	font-family:Courier,monospace;
	font-size:12px;
	font-weight:bold;
}
.crux-Confirm .dialogTopLeft 
{
	height:40px;
	width:15px;
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat top left;
	cursor: move;
}
.crux-Confirm .dialogTopCenter 
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/dialogs-blue-bg.png) no-repeat top center;
	cursor: move;
	padding-top: 8px;
	padding-left: 2px;
}
.crux-Confirm .dialogTopRight
{
	width:15px;
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat top right;
	cursor: move;
}
.crux-Confirm .dialogMiddleLeft
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat center left;
}
.crux-Confirm .dialogMiddleCenter
{
	background: url(../img/dialogs-blue-bg.png) no-repeat center center;
}
.crux-Confirm .dialogMiddleRight
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat center right;
}
.crux-Confirm .dialogBottomLeft
{
	font-size: 0px;
	height:15px;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom left;
}
.crux-Confirm .dialogBottomCenter
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom center;
}
.crux-Confirm .dialogBottomRight
{
	font-size: 0px;
	background: url(../img/dialogs-blue-bg.png) no-repeat bottom right;
}
.crux-Confirm .message
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #4E4E4E;
	padding: 5px;
}

/******************************************************************************
	Timer
*******************************************************************************/
.crux-Timer
{
	font-family:Verdana,Arial,Helvetica;
	font-weight:bold;
	font-size:13px;
	color:#6C83C3;
}

/******************************************************************************
	Scroll Banner
*******************************************************************************/
.crux-ScrollBanner .previousMessageButton, .crux-ScrollBanner .nextMessageButton
{
	background-image: url(../img/scroll-banner-arrow-up.gif);
	background-repeat: no-repeat;
	background-position: center;
	width: 13px;
	height: 13px;
	font-size: 0px;
	cursor: pointer;
}
.crux-ScrollBanner .nextMessageButton 
{
	background-image: url(../img/scroll-banner-arrow-down.gif);
}

.crux-ScrollBanner .message
{
	color:#6C83C3;
	font-size:12px;
	font-weight:bold;
	font-family:Verdana,Arial,Helvetica;
	padding: 2px;
	text-align: left;
}

.crux-ScrollBanner .messageCount
{
	color:#6C83C3;
	font-size:12px;
	font-weight:bold;
	font-family:Verdana,Arial,Helvetica;
}

/******************************************************************************
	Filter
*******************************************************************************/
.crux-Filter
{
	background-color: #FFFFFF;
	border: solid 1px #9dc3e9;
	background-image: url(../img/filter-lens.gif);
	background-position: top right;
	background-repeat: no-repeat;
	height: 22px;
	width: 141px;
	font-size: 13px;
	font-family: arial, sans-serif;
	padding-left: 2px;
	color: #CCCCCC;
}
.crux-Filter-focused
{
	background-image: url(../img/filter-lens-focused.gif);
	color: #505050;
}

/******************************************************************************
	Stack Menu
*******************************************************************************/
/*=====================
    first level 
=====================*/
.crux-StackMenu .item
{
	height: 23px;
	cursor:pointer;
	background: url(../img/menu-lv1-off-bg.gif) repeat-x top;
	background-color: #DDE9F4;
	width: 100%;
	margin-bottom: 1px;
}
.crux-StackMenu .item .item-border-nw
{
	width: 3px;
	height: 3px;
	background: url(../img/menu-lv1-nw.gif) no-repeat top left;
	font-size: 3px;
	font-family: monospace; 
}
.crux-StackMenu .item .item-border-n
{
	font-size: 3px;
	font-family: monospace;
	background: url(../img/menu-lv1-n.gif) repeat-x top;
}
.crux-StackMenu .item .item-border-ne
{
	width: 10px;
	background: url(../img/menu-lv1-ne.gif) no-repeat top right;
	font-size: 3px;
	font-family: monospace; 
}
.crux-StackMenu .item .item-border-w
{
	background: url(../img/menu-lv1-w.gif) repeat-y left;
	font-size: 3px;
	font-family: monospace; 
}
.crux-StackMenu .item .item-border-e
{
	background: url(../img/menu-lv1-e.gif) repeat-y right;
	font-size: 3px;
	font-family: monospace; 
}
.crux-StackMenu .item .item-border-sw
{
	height: 3px;
	background: url(../img/menu-lv1-sw.gif) no-repeat bottom left;
	font-size: 3px;
	font-family: monospace; 
}
.crux-StackMenu .item .item-border-s
{
	font-size: 3px;
	font-family: monospace;
	background: url(../img/menu-lv1-s.gif) repeat-x bottom;
}
.crux-StackMenu .item .item-border-se
{
	background: url(../img/menu-lv1-se.gif) no-repeat bottom right;
	font-size: 3px;
	font-family: monospace; 
}
.crux-StackMenu .item .itemLabel
{
	color:#6C83C3;
	font-family:Arial,Helvetica;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	padding:0px 4px 3px 4px;
}
.crux-StackMenu .item .hasSubItems
{
	width: 5px;
	height: 5px;
	background: url(../img/menu-lv1-has-sub.gif) no-repeat left;
}
.crux-StackMenu .item-open .hasSubItems
{
	background: url(../img/menu-lv1-has-sub-open.gif) no-repeat left;
}
.crux-StackMenu .item-over
{
	background-image: url(../img/menu-lv1-on-bg.gif);
	background-color: #447db2;
}
.crux-StackMenu .item-over .itemLabel
{
	color:#FFFFFF;
}


/*=====================
    second level 
=====================*/
.crux-StackMenu .subItemsWrapper .itemWrapper
{
	padding-left: 6px;
}
.crux-StackMenu .subItemsWrapper .item
{
	background: url(../img/menu-lv2-off-bg.gif) repeat-x top;
	background-color: #FBFBFB;
	border: solid 1px #CFCFCF;
	border-top: 0px;
}
.crux-StackMenu .subItemsWrapper .item .item-border-nw
{
	width: 3px;
	height: 0px;
	background: none;
	font-size: 0px;
}
.crux-StackMenu .subItemsWrapper .item .item-border-n
{
	font-size: 0px;
	background: none;
}
.crux-StackMenu .subItemsWrapper .item .item-border-ne
{
	width: 10px;
	background: none;
	font-size: 0px;
}
.crux-StackMenu .subItemsWrapper .item .item-border-w
{
	background: url(../img/menu-lv2-w.gif) repeat-y left;
}
.crux-StackMenu .subItemsWrapper .item .item-border-e
{
	background: url(../img/menu-lv2-e.gif) repeat-y right;
}
.crux-StackMenu .subItemsWrapper .item .item-border-sw
{
	height: 1px;
	background: url(../img/menu-lv2-sw.gif) no-repeat bottom left;
	font-size: 1px;
}
.crux-StackMenu .subItemsWrapper .item .item-border-s
{
	background: url(../img/menu-lv2-s.gif) repeat-x bottom;
	background: none;
}
.crux-StackMenu .subItemsWrapper .item .item-border-se
{
	height: 1px;
	background: url(../img/menu-lv2-se.gif) no-repeat bottom right;
	font-size: 1px;
}
.crux-StackMenu .subItemsWrapper .item .itemLabel
{
	color:#797979;
	padding: 0px 0px 0px 5px;
}
.crux-StackMenu .subItemsWrapper .item .hasSubItems
{
	width: 5px;
	height: 5px;
	background: url(../img/menu-lv2-has-sub.gif) no-repeat left;
}
.crux-StackMenu .subItemsWrapper .item-open .hasSubItems
{
	background: url(../img/menu-lv2-has-sub-open.gif) no-repeat left;
}
.crux-StackMenu .subItemsWrapper .item-over
{
	background-image: none;
	background: url(../img/menu-lv2-on-bg.gif) repeat-x top;
}

/*=====================
    third level 
=====================*/
.crux-StackMenu .subItemsWrapper .subItemsWrapper .item .itemLabel
{
	font-weight:normal;
}

/******************************************************************************
	Wizard
*******************************************************************************/
.crux-Wizard
{
}

.crux-Wizard IFRAME
{
	border: solid 0px !important;
	height: 99.0% !important;
}
.crux-Wizard .crux-WizardControlBar .crux-DecoratedButton-finish
{
	margin-right: 15px;
}
.crux-Wizard .crux-WizardNavigationLabel
{
	color:#6C83C3;
	font-family:Verdana,Arial,Helvetica;
	font-size:11px;
	text-decoration:none;
}

.crux-Wizard .crux-WizardNavigationLabel-selected
{
	font-weight:bold;
}

.crux-Wizard .crux-WizardNavigationSeparator
{
	width: 20px;
	height: 11px;
	background: url(../img/wizard-step-hor-separator.gif) no-repeat center;
	font-family: monospace;
	font-size: 1px;
}

.crux-Wizard .crux-WizardControlBarSouthWrapper, .crux-Wizard .crux-WizardControlBarNorthWrapper
{
	height: 32px;
}
.crux-Wizard .crux-WizardNavigationBarSouthWrapper, .crux-Wizard .crux-WizardNavigationBarNorthWrapper
{
	height: 32px;
}
.crux-Wizard .crux-WizardControlBarWestWrapper, .crux-Wizard .crux-WizardControlBarEastWrapper
{
	width: 80px;
}
.crux-Wizard .crux-WizardNavigationBarWestWrapper, .crux-Wizard .crux-WizardNavigationBarEastWrapper
{
	width: 80px;
}
.crux-Wizard .crux-WizardControlBar .crux-DecoratedButton
{
	width: 70px;
}

/******************************************************************************
	RollingPanel - Horizontal
*******************************************************************************/
.crux-RollingPanelPreviousWrapper
{
	width:20px;
	height: 100%;
}
.crux-RollingPanelPrevious
{
	width: 15px;
	height: 100%;
	border: solid 1px #8cbae7;
	background-color: #f1f6fc;
	background-image: url(../img/rolling-panel-left.gif);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	padding: 1px;
}
.crux-RollingPanelNextWrapper
{
	width:20px;
	height: 100%;
	text-align: right;
}
.crux-RollingPanelNext
{
	width: 15px;
	height: 100%;
	border: solid 1px #8cbae7;
	background-color: #f1f6fc;
	background-image: url(../img/rolling-panel-right.gif);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	padding: 1px;
}
.crux-RollingPanelPreviousWrapper-disabled, .crux-RollingPanelNextWrapper-disabled
{
	width:1px;
	border: solid 0px;
}
.crux-RollingPanelPreviousWrapper-disabled .crux-RollingPanelPrevious, .crux-RollingPanelNextWrapper-disabled .crux-RollingPanelNext
{
	width:1px;
	border: solid 0px;
	visibility: hidden;
}

/******************************************************************************
	RollingTabPanel
*******************************************************************************/
.crux-TabBar
{
	height: 28px;
}
.crux-TabBar .crux-RollingPanelPrevious
{
	height: 23px;
	width: 17px;
	font-family: monospace;
	background-image: url(../img/dyna-tabs-roll-left.gif);
	cursor: pointer;
}
.crux-TabBar .crux-RollingPanelNext
{
	height: 23px;
	width: 17px;
	font-family: monospace;
	background-image: url(../img/dyna-tabs-roll-right.gif);
	cursor: pointer;
}
.crux-TabBar .crux-RollingPanelPreviousWrapper
{
	vertical-align:bottom !important;
	width:20px;
}
.crux-TabBar .crux-RollingPanelNextWrapper
{
	vertical-align:bottom !important;
	width:20px;
}
.crux-TabBar .crux-RollingPanelPreviousWrapper-disabled
{
	width:1px;
	border: solid 0px;
	opacity:0;
}
.crux-TabBar .crux-RollingPanelNextWrapper-disabled
{
	width:1px;
	border: solid 0px;
	opacity:0;
}
.crux-TabBar .crux-RollingPanelNextWrapper-disabled .crux-RollingPanelNext
{
	width:1px;
	height: 1px;
}
.crux-TabBar .crux-RollingPanelPreviousWrapper-disabled .crux-RollingPanelPrevious
{
	width:1px;
	height: 1px;
}
.crux-TabBarFirst
{
	width:2px !important;
	overflow: hidden;
	font-size:0px;
	padding: 0px;
	margin: 0px !important;
}
.crux-TabBarFirst, .crux-TabBarRest  
{
	height:23px !important;
	padding:0px;
}
.crux-TabPanelBottom
{
	height: 99.7%;
	border: solid 0px;
	border-top: solid 2px #A5CCEF;
	overflow: hidden;
}
.crux-TabBarItem 
{
	background-image: none;
	cursor:default;
	white-space:nowrap;
	height:23px;
	opacity:0.4;
	filter:alpha(opacity=40);
	background-color: transparent !important;
	cursor:default;
	font-weight:bold;
	margin:0px !important;
	padding:0px !important;
	text-align:center;
}
.crux-TabBarItem-selected
{
	opacity:1;
	filter:alpha(opacity=100);
}
.crux-TabPanelBottom
{
	padding: 0px;
	overflow:auto;
}

/******************************************************************************
	DynaTabs
*******************************************************************************/

.crux-DynaTabs .flapLeft, .crux-TabPanel .flapLeft 
{
	padding:1px !important;
	font-family:arial;
	font-size:0px;
	width:3px !important;
	height:23px;
	background-image: url(../img/tabs_left.gif);
	background-repeat: no-repeat;
	background-position: top left; 
}
.crux-DynaTabs .flapRight, .crux-TabPanel .flapRight 
{
	padding:1px !important;
	font-family:arial;
	font-size:15px;
	width:5px;
	height:23px;
	background-repeat: no-repeat;
	background-position: top right; 
	background-image: url(../img/tabs_right.gif);
}
.crux-DynaTabs .flapCenter, .crux-TabPanel .flapCenter 
{
	background-image: url(../img/tabs_bg_label.gif);
	background-position: top;
	background-repeat: repeat-x;
}
.crux-DynaTabs .flapLabel, .crux-TabPanel .flapLabel 
{
	cursor:default;
	font-family:arial;
	font-weight:bold;
	font-size:11px;
	color:#6C83C3;
	padding-top:3px;
	padding-bottom:4px;
	padding-left:5px;
	padding-right:5px;
	white-space:nowrap;
}
.crux-DynaTabs .flapCloseButton 
{
	background-image: url(../img/dyna-tabs-close.gif);
	background-position: middle right;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin-top: 3px;
	cursor: pointer;
	margin-right: 0px;
	font-family: monospace;
	font-size: 0px;
}
.crux-DynaTabs .flapCloseButton-disable 
{
	cursor: wait;
}
.crux-DynaTabs IFRAME
{
	border: solid 0px !important;
	height: 99.0% !important;
}			  

/******************************************************************************
	Transfer List
*******************************************************************************/
.crux-TransferList .leftList, .crux-TransferList .rightList
{
	width: 180px;
	border: solid 1px #93989C;
	font-size:12px;
	font-family: sans-serif,Arial,Helvetica;	
} 
.crux-TransferList .moveToRight, .crux-TransferList .moveToLeft
{
	width: 50px;
	height: 20px;
	border:	solid 2px #0157A9;
	background: url(../img/transfer-list-button.gif) repeat-x top left;
	color: #FFFFFF;
	font-family:Arial,Helvetica;
	font-size:12px;
	font-weight:bold !important;	
}
.crux-TransferList .gwt-Label
{
	color: #5A6FAC;
	font-weight: bold;
}

/******************************************************************************
	Decorated Button
*******************************************************************************/
.crux-DecoratedButton
{
}
.crux-DecoratedButton TD
{
	height: 23px;
}
.crux-DecoratedButton-down .centerCell
{
	padding-top: 2px;
}
.crux-DecoratedButton .leftCell 
{
	width:2px;
	font-size: 0px;
	font-family: monospace;
	padding: 0px !important;
	margin: 0px !important;
	background: url(../img/decorated-button-left.gif) no-repeat top left;
}
.crux-DecoratedButton-disabled .leftCell
{
	background: url(../img/decorated-button-left-disabled.gif) no-repeat top left;
}
.crux-DecoratedButton .centerCell
{
	color:#FFFFFF;
	font-family:Arial,Verdana,Helvetica;
	font-weight: bold;
	font-size:11px;
	background: url(../img/decorated-button-center.gif) repeat-x top center;
	padding-left: 3px;
	padding-right: 3px;
	cursor: default;
}
.crux-DecoratedButton-disabled .centerCell
{
	background: url(../img/decorated-button-center-disabled.gif) repeat-x top center;
	font-family:Arial,Verdana,Helvetica;
	font-weight: bold;
	font-size:11px;
}
.crux-DecoratedButton .rightCell 
{
	width:2px;
	font-family: monospace;
	font-size: 0px;
	padding: 0px !important;
	margin: 0px !important;
	background: url(../img/decorated-button-right.gif) no-repeat top right;
}
.crux-DecoratedButton-disabled .rightCell
{
	background: url(../img/decorated-button-right-disabled.gif) no-repeat top right;
}

/******************************************************************************
	Title Panel
*******************************************************************************/
.crux-TitlePanel
{
	margin-bottom: 6px;
}
.crux-TitlePanel .topLeftCell 
{
	height:30px;
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat top left;
}
.crux-TitlePanel .topCenterCell 
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/title-panel-blue.gif) no-repeat top center;
}
.crux-TitlePanel .topCenterRightCell 
{
	width: 1px;
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat top center;
}
.crux-TitlePanel .topRightCell
{
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat top right;
}
.crux-TitlePanel .middleLeftCell
{
	width: 5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat center left;
}
.crux-TitlePanel .middleCenterCell
{
	background: url(../img/decorated-panel-smooth-bg.gif) repeat-x center bottom;
	background-color: #FFFFFF;
}
.crux-TitlePanel .middleRightCell
{
	width: 5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat center right;
}
.crux-TitlePanel .bottomLeftCell
{
	font-size: 0px;
	font-family: monospace;
	height:5px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom left;
}
.crux-TitlePanel .bottomCenterCell
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat bottom center;
}
.crux-TitlePanel .bottomRightCell
{
	font-size: 0px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat bottom right;
}

/******************************************************************************
	Collapse Panel
*******************************************************************************/
.crux-CollapsePanel
{
	margin-bottom: 6px;
}
.crux-CollapsePanel .topLeftCell 
{
	height:30px;
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat top left;
}
.crux-CollapsePanel .topCenterCell 
{
	font-size: 11px;
	font-weight: bold;
	color: #6C83C3;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	background: url(../img/title-panel-blue.gif) no-repeat top center;
}
.crux-CollapsePanel .topRightCell
{
	width:5px;
	font-size: 5px;
	font-family: monospace;
	background: url(../img/title-panel-blue.gif) no-repeat top right;
	padding-right: 5px;
}
.crux-CollapsePanel .middleLeftCell
{
	width: 5px;
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat center left;
}
.crux-CollapsePanel .middleCenterCell
{
	padding: 2px;
	background: url(../img/decorated-panel-smooth-bg.gif) repeat-x center bottom;
	background-color: #FFFFFF;
}
.crux-CollapsePanel .middleRightCell
{
	width: 5px;
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat center right;
}
.crux-CollapsePanel .bottomLeftCell
{
	font-size: 0px;
	height:5px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom left;
}
.crux-CollapsePanel .bottomCenterCell
{
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom center;
}
.crux-CollapsePanel .bottomRightCell
{
	font-size: 0px;
	background: url(../img/title-panel-blue.gif) no-repeat bottom right;
}

.crux-CollapsePanel .collapseExpandButton
{
	width: 11px;
	height: 11px;
	border: solid 0px;
	cursor: pointer;	
}

.crux-CollapsePanel .collapseExpandButton-collapsed
{
	background: url(../img/collapse-panel-expand.gif) no-repeat;
}

.crux-CollapsePanel .collapseExpandButton-expanded
{
	background: url(../img/collapse-panel-collapse.gif) no-repeat;
}


/******************************************************************************
	Bold Gray Decorated Panel
*******************************************************************************/
.crux-DecoratedPanel
{
}
.crux-DecoratedPanel .topLeftCell 
{
	font-size: 0px;
	font-family: monospace;
	height:5px;
	width:5px;
	background: url(../img/decorated-panel.gif) no-repeat top left;
}
.crux-DecoratedPanel .topCenterCell 
{
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat top center;
}
.crux-DecoratedPanel .topCenterRightCell 
{
	width: 1px;
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat top center;
}
.crux-DecoratedPanel .topRightCell
{
	font-size: 0px;
	font-family: monospace;
	width:5px;
	background: url(../img/decorated-panel.gif) no-repeat top right;
}
.crux-DecoratedPanel .middleLeftCell
{
	width:5px;
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat center left;
}
.crux-DecoratedPanel .middleCenterCell
{
	background: url(../img/decorated-panel-smooth-bg.gif) repeat-x center bottom;
	background-color: #FFFFFF;
	display: inline;
}
.crux-DecoratedPanel .middleRightCell
{
	width:5px;
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat center right;
}
.crux-DecoratedPanel .bottomLeftCell
{
	font-size: 0px;
	height:5px;
	background: url(../img/decorated-panel.gif) no-repeat bottom left;
}
.crux-DecoratedPanel .bottomCenterCell
{
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat bottom center;
}
.crux-DecoratedPanel .bottomRightCell
{
	font-size: 0px;
	background: url(../img/decorated-panel.gif) no-repeat bottom right;
}

/******************************************************************************
	Grid
*******************************************************************************/
.crux-Grid
{
	border: solid 2px #D0E4F6 !important;
}
.crux-Grid .row
{
	background-color:#FFFFFF;
	height: 28px;
}
.crux-Grid .row .cellWrapper
{
	vertical-align:middle;
	background-color:#FFFFFF;
	border-bottom: solid 1px #F0F0F0; 
	border-right: solid 1px #F0F0F0;
}
.crux-Grid .row .cell
{
	color:#4E4E4E;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size:11px;
	font-weight:normal;
	vertical-align:middle;
	background-color:#FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
	overflow-y: visible;
	overflow-x: hidden;
	width: 50px;
}
.crux-Grid .row .rowSelector
{
	padding-top: 0px;
	padding-bottom: 0px;
}
.crux-Grid .row-selected .cellWrapper, .crux-Grid .row-selected .cell  
{
	background-color: #F5F5F5;
}
.crux-Grid .row-disabled .cell
{
	opacity:0.4;
	filter:alpha(opacity=40);
}
.crux-Grid .row-highlighted .cellWrapper, .crux-Grid .row-highlighted .cell
{
	background-color: #FFFFE1;
}
.crux-Grid .columnHeadersRow
{
	background-color: #DFE6F0;
}
.crux-Grid .columnHeadersRow .cellWrapper
{
	background-image: url(../img/grid-header.gif);
	border-bottom: solid 2px #C5E0F0;
	border-right: solid 1px #D0E4F6;
	height: 28px;
	text-align: center;
}
.crux-Grid .columnHeadersRow .cellWrapper-rowSelectionColumn
{
	width: 25px;
}
.crux-Grid .columnHeader
{
	padding: 0px;
	text-align: center;
	display: inline-block;
}
.crux-Grid .columnHeader .label
{
	color:#6C83C3;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	padding-left: 3px;
	text-align: center;
}
.crux-Grid .columnSorter
{
	cursor: pointer;
	text-align: center;
	width: auto;
	display: inline;
}
.crux-Grid .columnSorter-desc .arrow
{
	background-image: url(../img/grid-sorting-arrow-down.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 7px;
	height: 4px;
	font-size: 4px;
	font-family: monospace;
	margin-left: 2px;
	margin-right: 2px;
}
.crux-Grid .columnSorter-asc .arrow
{
	background-image: url(../img/grid-sorting-arrow-up.gif);
	background-repeat: no-repeat;
	background-position: left;
	width: 7px;
	height: 4px;
	font-size: 4px;
	font-family: monospace;
	margin-left: 2px;
	margin-right: 2px; 
}
.crux-Grid .columnSorter-asc .label
{
	text-decoration: underline;
}
.crux-Grid .columnSorter-desc .label
{
	text-decoration: underline;
}

/******************************************************************************
	Sequential Pager
*******************************************************************************/
.crux-SequentialPager
{
	height: 12px;
}
.crux-SequentialPager .previousButton
{
	width: 9px;
	height: 10px;
	font-size: 10px;
	font-family: monospace;
	background-image: url(../img/pager-previous.gif);
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer; 
	margin-left: 5px;
}
.crux-SequentialPager .nextButton
{
	width: 9px;
	height: 10px;
	font-size: 10px;
	font-family: monospace;
	background-image: url(../img/pager-next.gif);
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
	margin-right: 5px;
}
.crux-SequentialPager .currentPageLabel
{
	color:#2077A9;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size:11px;
	font-weight: bold;
	text-align: center;
	width: 30px;
	height: 13px;
}
.crux-SequentialPager .previousButton-disabled
{
	opacity:0.2;
	filter:alpha(opacity=20);
}
.crux-SequentialPager .nextButton-disabled
{
	opacity:0.2;
	filter:alpha(opacity=20);
}
.crux-RandomPager .previousButton
{
	width: 9px;
	height: 10px;
	font-size: 10px;
	font-family: monospace;
	background-image: url(../img/pager-previous.gif);
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer; 
	margin-left: 5px;
}
.crux-RandomPager .nextButton
{
	width: 9px;
	height: 10px;
	font-size: 10px;
	font-family: monospace;
	background-image: url(../img/pager-next.gif);
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
	margin-right: 5px;
}
.crux-RandomPager .previousButton-disabled
{
	opacity:0.2;
	filter:alpha(opacity=20);
}
.crux-RandomPager .nextButton-disabled
{
	opacity:0.2;
	filter:alpha(opacity=20);
}
.crux-RandomPager .firstButton
{
	width: 16px;
	height: 10px;
	font-size: 10px;
	font-family: monospace;
	background-image: url(../img/pager-first.gif);
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer; 
	margin-left: 5px;
}
.crux-RandomPager .lastButton
{
	width: 16px;
	height: 10px;
	font-size: 10px;
	font-family: monospace;
	background-image: url(../img/pager-last.gif);
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
	margin-right: 5px;
}
.crux-RandomPager .firstButton-disabled
{
	opacity:0.2;
	filter:alpha(opacity=20);
}
.crux-RandomPager .lastButton-disabled
{
	opacity:0.2;
	filter:alpha(opacity=20);
}
.crux-RandomPager .gwt-ListBox
{
	color:#2077A9;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size:10px;
	margin-left: 3px;
	margin-right: 3px;
}


/******************************************************************************
	Screen Blockers
*******************************************************************************/
.crux-DefaultScreenBlocker
{
	background-color: #FFFFFF;
	opacity: .01;
	filter:alpha(opacity=1);
	cursor: wait;
}
.crux-MessageBoxScreenBlocker, .crux-ProgressDialogScreenBlocker, .crux-PopupScreenBlocker, .crux-ConfirmScreenBlocker
{
	background-color: #FAFAFA;
	filter:alpha(opacity=80);
	-moz-opacity: 0.80;
	opacity: .80;
}

/******************************************************************************
	Decorated Button
*******************************************************************************/
.crux-DecoratedButtonCSS3
{
	color:#FFFFFF;
	font-family:Arial,Helvetica;
	font-weight: bold;
	font-size:11px;
	text-decoration: none;
	cursor: default;
	border: solid 2px #0157a9;
	padding: 3px; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01,#89b4dc),color-stop(0.99,#447db2));
	background-image: -moz-linear-gradient(top, #89b4dc,#447db2);
}

.crux-DecoratedButtonCSS3:active
{
	background-image: #447db2;
}

.crux-DecoratedButtonCSS3-disabled, .crux-DecoratedButtonCSS3-disabled:active
{
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01,#d7d7d7),color-stop(0.99,#bbbbbb));
	background-image: -moz-linear-gradient(top, #d7d7d7,#bbbbbb);
	color: #FFFFFF;
	border: solid 2px #a8a8a8;	
}
