@external *;

/* --------------------   common for all dialogs  -----------------------*/
.dragging, .unselectable *{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.dialogGlass
{
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed !important;
}

.faces-DialogBox, .faces-WaitBox, .faces-MessageBox, .faces-Confirm, .faces-QuestionBox
{
	background-color: #FFF;
	border-radius: 5px;
	overflow:hidden;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.7) !important;
	position: fixed !important;
}

.faces-DialogBox .dialogTitleBodySplit, .faces-WaitBox .dialogTitleBodySplit, .faces-MessageBox .dialogTitleBodySplit,
.faces-Confirm .dialogTitleBodySplit, .faces-QuestionBox .dialogTitleBodySplit
{
	width: inherit;
	height: inherit;
	min-height: inherit;
	position: relative;
}
.faces-DialogBox .dialogTopBar, .faces-WaitBox .dialogTopBar, .faces-MessageBox .dialogTopBar, 
.faces-ConfirmBox .dialogTopBar, .faces-QuestionBox .dialogTopBar
{
	position: absolute;
	padding-top: 10px;
	height: 40px;
	width: inherit;
	top: 0px;
	left: 0px;
	z-index: 1;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.faces-DialogBox .dialogTopBarDragHandle, .faces-WaitBox .dialogTopBarDragHandle, .faces-MessageBox .dialogTopBarDragHandle, 
.faces-Confirm .dialogTopBarDragHandle, .faces-QuestionBox .dialogTopBarDragHandle
{
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent;
	height: 100%;
	width: 100%;
	cursor: move;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.faces-DialogBox .dialogTitle, .faces-WaitBox .dialogTitle, .faces-MessageBox .dialogTitle, .faces-Confirm .dialogTitle, .faces-QuestionBox .dialogTitle
{
	color: #4496C6;
	text-align: center;
	font-size: 18px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding:7px 0;
}
.faces-DialogBox .dialogCloseButton, .faces-WaitBox .dialogCloseButton, .faces-MessageBox .dialogCloseButton, .faces-QuestionBox .dialogCloseButton
{
	position: absolute;
	right: 2px;
	top: 2px;
	background: rgba(0, 0, 0, 0);
	border: none;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.faces-DialogBox .dialogCloseButton:after, .faces-WaitBox .dialogCloseButton:after, .faces-MessageBox .dialogCloseButton:after, 
.faces-QuestionBox .dialogCloseButton:after 
{
	content: "X";
	color: #4496C6;
	font-size: 18px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.faces-DialogBox .dialogBody, .faces-WaitBox .dialogBody, .faces-MessageBox .dialogBody, .faces-Confirm .dialogBody, .faces-QuestionBox .dialogBody
{
	width: inherit;
	height: literal("calc(100% - 40px)");
	overflow: auto;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	position: absolute;
	top: 40px;
	padding-top: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.faces-DialogBox .popupContent, .faces-WaitBox .popupContent, .faces-MessageBox .popupContent, .faces-Confirm .popupContent, .faces-QuestionBox .popupContent
{
	height: 100%;
	min-height: inherit;
	width: 100%;
}
.faces-DialogBox .dialogResizer, .faces-MessageBox .dialogResizer, .faces-Confirm .dialogResizer, .faces-QuestionBox .dialogResizer
{
	position: absolute;
	height: 12px;
	width: 12px;
	bottom: 0;
	right: 0;
	border-top: rgba(0, 0, 0, 0);
	border-left: rgba(0, 0, 0, 0);
	cursor: nwse-resize;
	border-bottom-right-radius: 3px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	background: linear-gradient(135deg, #FFF 50%, #AAA 50.1%, #EEE 60%);
	padding: 10px;
}

.faces-DialogBox .dialogResizer:before, .faces-MessageBox .dialogResizer:before {
	content: "";
	position: absolute;
	height: 7px;
	width: 11px;
	bottom: 5px;
	right: 3px;
	border-top: solid 1px #AAA;
	cursor: nwse-resize;
	border-bottom-right-radius: 2px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.faces-DialogBox .dialogResizer:after, .faces-MessageBox .dialogResizer:after {
	content: "";
	position: absolute;
	height: 7px;
	width: 8px;
	bottom: 3px;
	right: 3px;
	border-top: solid 1px #AAA;
	cursor: nwse-resize;
	border-bottom-right-radius: 2px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.faces-MessageBox .popupContent .faces-label,
.faces-DialogBox .popupContent .faces-label
{
	font-size:14px;
	padding:20px 0 0 0;
}

.popupContent button
{
	padding:8px 25px;
	font-size:15px;
	margin-right:3px;
}

.faces-WaitBox
{
	width: 400px;
	height: 100px;
}
.faces-WaitBox .dialogTopBar
{
	box-shadow: none;
	padding-top: 6px;
}
.faces-WaitBox .dialogBody
{
	padding-left:20px;
	padding-right:20px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
@-webkit-keyframes faces-InfinityProgressBarAnimation
{
	0%   {width:0%;left:0%}
	19%  {width:40%;left:0%;}
	38%  {width:0%;left:50%;}
	57%  {width:40%;left:50%;}
	75%  {width:0%;left:100%;}
	100% {width:100%;left:0%}
}
@keyframes faces-InfinityProgressBarAnimation
{
	0%   {width:0%;left:0%}
	19%  {width:40%;left:0%;}
	38%  {width:0%;left:50%;}
	57%  {width:40%;left:50%;}
	75%  {width:0%;left:100%;}
	100% {width:100%;left:0%}
}	
.faces-progressBar
{
	width: 60%;
	height: 3px;
	position: relative;
	background:#eee;
	margin:18px auto 0;
}

.faces-progressBar .faces-fill
{
	height: 100%;
	background:#B1DA62;
	position: absolute;
	top: 0px;
	left: 0px;
	box-shadow: 0px 0px 20px rgba(161,202,82,0.7);
	-webkit-animation: faces-InfinityProgressBarAnimation 2s linear infinite;
	animation: faces-InfinityProgressBarAnimation 2s linear infinite;
}

.faces-MessageBox
{
	max-width: 80%;
	min-width: 500px;
	min-height: 140px;
}
.faces-MessageBox .messageBoxContents
{
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}
.faces-MessageBox .dialogTopBar
{
	box-shadow: none;
}
.faces-MessageBox .faces-Button
{
	margin-top: 20px;
	margin-bottom: 10px;
}
.faces-MessageBox-success .gwt-Label
{
	color: #517A02;	
}
.faces-MessageBox-info .gwt-Label
{
	color: #4c6879;	
}
.faces-MessageBox-warn .gwt-Label
{
	color: #816A02;	
}
.faces-MessageBox-error .gwt-Label
{
	color: #B01010;
}
.faces-MessageBox-info .faces-Button
{
	background-color: #4496C6;	
}
.faces-MessageBox-success .faces-Button
{
	background-color: #517A02;	
}
.faces-MessageBox-warn .faces-Button
{
	background-color: #816A02;	
}
.faces-MessageBox-error .faces-Button
{
	background-color: #D11010;	
}

.faces-DialogBox
{
	min-width: 400px;
	min-height: 180px;
}

.faces-Confirm
{
	max-width: 80%;
	min-width: 400px;
	min-height: 180px;
}
.faces-Confirm .confirmContents
{
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	font-size:14px;
}
.faces-Confirm .dialogTopBar
{
	box-shadow: none;
}
.faces-Confirm .gwt-Label
{
	color: #4c6879;	
}

.faces-Confirm .faces-Button
{
	margin-top: 40px;
	margin-bottom: 10px;
	background-color: #4496C6;	
}

.faces-QuestionBox
{
	max-width: 80%;
	min-width: 400px;
	min-height: 180px;
}
.faces-QuestionBox .questionContents
{
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}
.faces-QuestionBox .questionButtons
{
}
.faces-QuestionBox .dialogTopBar
{
	box-shadow: none;
}
.faces-QuestionBox .gwt-Label
{
	color: #4c6879;	
}

.faces-QuestionBox .faces-Button
{
	margin-top: 40px;
	margin-bottom: 10px;
	background-color: #4496C6;	
}

.top-disposal-header-panel-large
{
	margin-top:-20px;
	margin-bottom: -20px;
	height: auto;
	width: 100%;
}

.top-disposal-menu-panel-large
{
	
}

.top-disposal-footer-panel-large
{
	margin-top:-20px;
	width: 100%;
	position: fixed;
	bottom: 0;
	margin-bottom: -20px;
	z-index: 10;
}

.top-disposal-content-panel-large
{
	
}

.left-disposal-menu-panel-large
{
	width:200px;
	height: 100%;
	float:left;
	position:relative;
}

.left-disposal-menu-panel-large .facesMenu
{
	height:100%;
}

.left-disposal-footer-panel-large
{
	margin-top:-20px;
	width: 100%;
	position: fixed;
	bottom: 0;
	margin-bottom: -20px;
	z-index: 10;
}

.left-disposal-header-panel-large
{
	overflow:auto;
	height: auto;
	width: 100%;
}

.left-disposal-content-panel-large
{
	width:literal("calc(100% - 210px)");
	padding-left: 10px;
	height:100%;
	float:left;
}
