@external *;

/* --------------------   common for all dialogs  -----------------------*/
.dragging, .unselectable *{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@-webkit-keyframes faces-InfinityProgressBarAnimation
{
	0%   {width:0%;left:0%}
	19%  {width:40%;left:0%;}
	38%  {width:0%;left:50%;}
	57%  {width:40%;left:50%;}
	75%  {width:0%;left:100%;}
	100% {width:100%;left:0%}
}
@keyframes faces-InfinityProgressBarAnimation
{
	0%   {width:0%;left:0%}
	19%  {width:40%;left:0%;}
	38%  {width:0%;left:50%;}
	57%  {width:40%;left:50%;}
	75%  {width:0%;left:100%;}
	100% {width:100%;left:0%}
}	
.faces-progressBar
{
	width: 60%;
	height: 3px;
	position: relative;
	background:#eee;
	margin:18px auto 0;
}

.faces-progressBar .faces-fill
{
	height: 100%;
	background:#B1DA62;
	position: absolute;
	top: 0px;
	left: 0px;
	box-shadow: 0px 0px 20px rgba(161,202,82,0.7);
	-webkit-animation: faces-InfinityProgressBarAnimation 2s linear infinite;
	animation: faces-InfinityProgressBarAnimation 2s linear infinite;
}

.faces-QuestionBox .faces-Button
{
	margin-top: 40px;
	margin-bottom: 10px;
	background-color: #4496C6;	
}


/* -------------------- facesPopup-----------------------*/

.faces-popup-header
{
	min-height:26px;
}

.faces-popup-body
{
	min-height: 30px;
	min-width: 200px;
}

.faces-popup-close
{
	right:5px;
}

/* -------------------- facesCombobox-----------------------*/

.faces-ComboBox-Button
{
	height: 23px;
	width: 23px;
}

.faces-comboBoxOptionPanel
{
	
}

.faces-comboBoxOptionPanel:hover * 
{
	background-color: #4496c6;
}