package $packageName;

#foreach ($importItem in $imports)
import $importItem;
#end
#set ($controllerNameLower = $className.substring(0,1).toLowerCase() + $className.substring(1))

@Controller("$controllerNameLower")
public class $className extends $superClassName
{

}