@external sampleApp;   
@sprite .sampleApp{
	gwt-image: "codeBg";	
}

@external code;
.code
{
	font-weight: bold;
	font-style: italic; 
}

@external crux-Button buttonBar;
.buttonBar
{
	text-align: center;
}
.buttonBar .crux-Button
{
	cursor: pointer;
	width: 150px;
	height: 45px;
	background: #005266 !important;
	box-shadow: 0 0 0 3px rgba(255,255,255,0.2), 0 0 5px 2px rgba(0,0,0,0.4), 0 1px 0 #0096af inset !important;
	border-radius: 4px;
	border: solid 0 !important;
	text-align: center;
	color: white;
	font-size: 17px;
	-webkit-transition: all 0.3s linear !important;
}
.buttonBar .crux-Button
{
	display: inline-block;
	margin-bottom: 30px;
}
.buttonBar .crux-Button:hover 
{
	box-shadow: 0 0 0 3px rgba(255,255,255,0.9), 0 0 5px 2px rgba(0,0,0,0.4), 0 1px 0 #0096af inset !important;
}

@external topTag;
.topTag
{
	display: inline-block;
	position: fixed;
	top: 35px;
	left: -55px;
	background-color: #ff8000;
	z-index: 999;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-transform: rotate(-45deg);
	width: 200px;
	text-align: center;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	box-shadow: 0 5px 20px rgba(0,0,0,0.6), 0 0 20px rgba(200, 150, 100, 0.9) inset;
	color: #704030;
	text-shadow: rgba(255, 255, 255, 0.5) -1px 1px 0;
}

@external tab;
.tab
{
	display: inline-block;
	width: 5px !important;
	margin-left: 5px;
}

