<module rename-to='${moduleSimpleName}'>
	<inherits name='org.cruxframework.crux.gadget.CruxGadget'/>
	<inherits name='org.cruxframework.crux.gwt.CruxGWTWidgets'/>
	<inherits name='org.cruxframework.crux.widgets.CruxWidgets'/>
	<inherits name='com.google.gwt.user.theme.standard.Standard'/>
	<inherits name='org.cruxframework.crux.themes.widgets.standard.Standard'/>

	<!-- To enable logging -->
	<!-- 
	<inherits name="com.google.gwt.logging.Logging"/>
    <set-property name="gwt.logging.logLevel" value="FINE"/>   
    <set-property name="gwt.logging.enabled" value="TRUE"/>    
	<set-property name="gwt.logging.consoleHandler" value="ENABLED" />
	<set-property name="gwt.logging.popupHandler" value="ENABLED" />
	<set-property name="gwt.logging.developmentModeHandler" value="ENABLED" />
	<set-property name="gwt.logging.firebugHandler" value="DISABLED" />
	<set-property name="gwt.logging.hasWidgetsHandler" value="DISABLED" />
	<set-property name="gwt.logging.systemHandler" value="DISABLED" />
	<set-property name="gwt.logging.simpleRemoteHandler" value="DISABLED" />
	-->
</module>