<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<welcome-file-list>
		<welcome-file>${hostedModeStartupURL}</welcome-file>
	</welcome-file-list>

	<context-param> 
	    <param-name>outputCharset</param-name> 
	    <param-value>UTF-8</param-value> 
	</context-param> 

	<listener>
        <listener-class>org.cruxframework.crux.core.server.InitializerListener</listener-class>
    </listener>

	<servlet>
		<servlet-name>remoteServiceServlet</servlet-name>
		<servlet-class>org.cruxframework.crux.gadget.server.dispatch.GadgetRemoteServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>remoteServiceServlet</servlet-name>
		<url-pattern>*.rpc</url-pattern>
	</servlet-mapping>
	
	<!--antReplacementBlockBegin-->
	<!--
	===========================================================================
	Development time CRUX filters: not required in production environment.
	The comments "antReplacementBlockBegin" e "antReplacementBlockEnd" are  
	used by the ant task for removing the filters when generating the application 
	distribution file. Don't remove those comments.
	===========================================================================			
	-->
	<listener>
        <listener-class>org.cruxframework.crux.core.server.DevModeInitializerListener</listener-class>
    </listener>
	<filter>
		<display-name>GadgetFilter</display-name>
		<filter-name>GadgetFilter</filter-name>
		<filter-class>org.cruxframework.crux.gadget.server.filter.GadgetFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GadgetFilter</filter-name>
		<url-pattern>*.gadget.xml</url-pattern>
	</filter-mapping>
	<!--antReplacementBlockEnd-->

</web-app>