<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<welcome-file-list>
		<welcome-file>${module-short-name}/index.html</welcome-file>
	</welcome-file-list>

	<context-param>
	    <param-name>outputCharset</param-name>
	    <param-value>UTF-8</param-value>
	</context-param>

	<listener>
        <listener-class>org.cruxframework.crux.core.server.InitializerListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>remoteServiceServlet</servlet-name>
        <servlet-class>org.cruxframework.crux.core.server.dispatch.RemoteServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>remoteServiceServlet</servlet-name>
        <url-pattern>*.rpc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>restServiceServlet</servlet-name>
        <servlet-class>org.cruxframework.crux.core.server.rest.servlet.RestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>restServiceServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

	<!--antReplacementBlockBegin-->
	<!--
	===========================================================================
	Development time CRUX listener and filters: not required in production
	environment. The comments "antReplacementBlockBegin" e "antReplacementBlockEnd"
	are used by the ant task for removing the filters when generating the
	application distribution file. Don't remove those comments.
	===========================================================================
	-->
	<listener>
        <listener-class>org.cruxframework.crux.core.server.DevModeInitializerListener</listener-class>
    </listener>
	<filter>
		<display-name>ModulesDeclarativeUIFilter</display-name>
		<filter-name>ModulesDeclarativeUIFilter</filter-name>
		<filter-class>org.cruxframework.crux.module.filter.ModulesDeclarativeUIFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ModulesDeclarativeUIFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
    <servlet>
        <servlet-name>testViewServlet</servlet-name>
        <servlet-class>org.cruxframework.crux.module.development.ModulesViewTester</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testViewServlet</servlet-name>
        <url-pattern>/viewTester/*</url-pattern>
    </servlet-mapping>
	<!--antReplacementBlockEnd-->

</web-app>