TEXTAREA
{
	margin-bottom: 10px;
}
.MainTitle
{
	color:#67A7E3;
	font-size:22px;
	font-weight: bold;
	font-family: Arial Unicode MS,Arial,sans-serif;
}
.SecondaryTitle
{
	color: #888888 !important;
	font-size:16px !important;
	font-family: Arial Unicode MS,Arial,sans-serif;
	font-weight: bold;
}
.Source
{
	font-size: 11px !important;
	font-family: monospace;
}