@external faces-*;

.facesBackboneTopMenuDisposal
{
	display: -webkit-box;    /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;       /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;   	/* TWEENER - IE 10 */
	display: -webkit-flex;	/* NEW - Chrome */
	display: flex;      		/* NEW, Spec - Opera 12.1, Firefox 20+ */
/*	display:flex; */
	min-height:100vh;
	flex-direction:column;
}

.faces-TopMenuDisposal-contentPanel
{
	flex:1;
}

