/* General CSS to work with FlexBox containers */
.flexBoxContainer, .flexBoxVerticalContainer, .flexBoxHorizontalContainer {
	display: -webkit-box;      		/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         		/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      		/* TWEENER - IE 10 */
	display: -webkit-flex;     		/* NEW - Chrome */
	display: flex;             		/* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flexBoxInlineContainer, .flexBoxHorizontalInlineContainer, .flexBoxVerticalInlineContainer {
	display: -webkit-inline-box;    /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-inline-box;       /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-inline-flexbox;   	/* TWEENER - IE 10 */
	display: -webkit-inline-flex;	/* NEW - Chrome */
	display: inline-flex;      		/* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flexBoxHorizontalContainer, .flexBoxHorizontalInlineContainer {
	-webkit-box-orient: horizontal; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-orient: horizontal; 	/* OLD - Firefox 19- */
	-ms-flex-direction: row; 		/* TWEENER - IE 10 */
	-webkit-flex-direction: row; 	/* NEW - Chrome */
	flex-direction: row; 			/* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flexBoxVerticalContainer, .flexBoxVerticalInlineContainer {
	-webkit-box-orient: vertical; 	/* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-orient: vertical; 		/* OLD - Firefox 19- */
	-ms-flex-direction: column; 	/* TWEENER - IE 10 */
	-webkit-flex-direction: column; /* NEW - Chrome */
	flex-direction: column; 		/* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flexBoxFirstChild {
	-webkit-box-ordinal-group: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-ordinal-group: 1;      /* OLD - Firefox 19- */
	-ms-flex-order: 1;              /* TWEENER - IE 10 */
	-webkit-order: 1;               /* NEW - Chrome */
	order: 1;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flexBoxSecondChild {
	-webkit-box-ordinal-group: 2;   /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-ordinal-group: 2;      /* OLD - Firefox 19- */
	-ms-flex-order: 2;              /* TWEENER - IE 10 */
	-webkit-order: 2;               /* NEW - Chrome */
	order: 2;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flexBoxThirdChild {
	-webkit-box-ordinal-group: 3;   /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-ordinal-group: 3;      /* OLD - Firefox 19- */
	-ms-flex-order: 3;              /* TWEENER - IE 10 */
	-webkit-order: 3;               /* NEW - Chrome */
	order: 3;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}