@external faces-*;

@def BORDER_COLOR #ccc;
@def DEFAULT_BORDER 1px solid BORDER_COLOR;
@def DEFAULT_PADDING 10px 20px;

/*************************
 Helpers
*************************/

.facesBackboneMenu.faces-Menu--fixed
{
	position:fixed;
	top:0;
	left:0;
	z-index:3;
}

.facesBackboneMenu.faces-Menu--grow > .faces-Menu-ul > .faces-Menu-li
{
	flex-grow:1;
	-webkit-flex-grow:1;
	-moz-flex-grow:1;
	-webkit-box-flex:1;
	-ms-flex-positive: 1;
}

.facesBackboneMenu.faces-Menu--grow > .faces-Menu-ul .faces-Menu-ul
{
	z-index:5;
}


/*************************
 Basic for all
*************************/

.facesBackboneMenu .faces-Menu-ul
{
	list-style:none;
	padding:0;
	margin:0;
}


/*************************
 HorizontalDropdown
*************************/

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-dropdown .faces-Menu-ul
{
	list-style:none;
	padding:0;
	margin:0;
}

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-dropdown > .faces-Menu-ul
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	flex-flow: row wrap;
}

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-dropdown > .faces-Menu-ul .faces-Menu-ul
{
	display:none;
}

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-dropdown > .faces-Menu-ul > .faces-Menu-li
{
	position:relative;
	cursor:pointer;
}

.facesBackboneMenu.faces-Menu-tree .faces-Menu-ul .faces-Menu-li .faces-Menu-li
{
	border-bottom:none;
}

.facesBackboneMenu .faces-Menu-ul .faces-Menu-li .faces-SelectablePanel
{
	padding:DEFAULT_PADDING;
}

.facesBackboneMenu.faces-Menu-tree .faces-Menu-ul .faces-Menu-li .faces-SelectablePanel
{
	padding:0;
}

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-dropdown .faces-Menu-li:hover > .faces-Menu-ul
{
	display:block;
	margin-top:0px;
}

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-dropdown > .faces-Menu-ul > .faces-Menu-li > .faces-Menu-ul
{
	width:100%;
	min-width:150px;
	position:absolute;
	top:100%;
	left:0;
}

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-dropdown > .faces-Menu-ul > .faces-Menu-li > .faces-Menu-ul .faces-Menu-li
{
	position:relative;
}

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-dropdown > .faces-Menu-ul > .faces-Menu-li .faces-Menu-li .faces-Menu-ul
{
	width:100%;
	position:absolute;
	left:100%;
	top:0;
}


/*************************
 VerticalDropdown
*************************/

.facesBackboneMenu.faces-Menu-vertical.faces-Menu-dropdown > .faces-Menu-ul .faces-Menu-ul
{
	width:100%;
	position:absolute;
	left:100%;
	top:0;
	display:none;
}

.facesBackboneMenu.faces-Menu-vertical.faces-Menu-dropdown .faces-Menu-li
{
	position:relative;
	margin-top:-1px;
}

.facesBackboneMenu.faces-Menu-vertical.faces-Menu-dropdown .faces-Menu-li:hover > .faces-Menu-ul
{
	display:block;
}


/*************************
 VerticalTree
*************************/

.facesBackboneMenu.faces-Menu-vertical.faces-Menu-tree .faces-Menu-ul .faces-Menu-ul
{
	display:none;
}

.facesBackboneMenu.faces-Menu-vertical.faces-Menu-tree .faces-Menu-li.faces-Menu-open > .faces-Menu-ul
{
	display:block;
}

.facesBackboneMenu.faces-Menu-vertical.faces-Menu-tree .faces-Menu-li
{
	padding-left:15px;
	position:relative;
}

.facesBackboneMenu.faces-Menu-vertical.faces-Menu-tree .faces-Menu-li .faces-Menu-openCloseTriggerHelper
{
	position:absolute;
	top:2px;
	left:-3px;
}


/*************************
 HorizontalAccordion
*************************/

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-accordion
{
	height:200px;
	display:inline-block;
}

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-accordion > .faces-Menu-ul > .faces-Menu-li
{
	float:left;
	min-width:38px;
	height:200px;
	position:relative;
}

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-accordion > .faces-Menu-ul .faces-Menu-li
{
	position:relative;
}

.facesBackboneMenu.faces-Menu-accordion.faces-Menu-horizontal > .faces-Menu-ul > .faces-Menu-li > .faces-Menu-ul
{
	height:198px;	
}

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-accordion > .faces-Menu-ul > .faces-Menu-li > .faces-SelectablePanel
{
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	transform:rotate(-90deg);
	width:199px;
	height:38px;
	margin-left:-81px;
	margin-top:80px;
	position:absolute;
	padding:10px;
}

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-accordion > .faces-Menu-ul > .faces-Menu-li > .faces-Menu-openCloseTriggerHelper
{
	position:absolute;
	top:0;
	left:0;
}

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-accordion .faces-Menu-ul .faces-Menu-ul
{
	width:300px;
	margin-left:38px;
	background:#fff;
	font-size:12px;
	display:none;
	overflow-y:auto;
}

.facesBackboneMenu.faces-Menu-horizontal.faces-Menu-accordion .faces-Menu-li.faces-Menu-open > .faces-Menu-ul
{
	display:block;
}


/*************************
 VerticalAccordion
*************************/

.facesBackboneMenu.faces-Menu-vertical.faces-Menu-accordion
{
	width:200px;
}

.facesBackboneMenu.faces-Menu-vertical.faces-Menu-accordion  .faces-Menu-li
{
	position:relative;
}

.facesBackboneMenu.faces-Menu-vertical.faces-Menu-accordion > .faces-Menu-ul > .faces-Menu-li > .faces-SelectablePanel
{
	padding:10px;
}

.facesBackboneMenu.faces-Menu-vertical.faces-Menu-accordion > .faces-Menu-ul > .faces-Menu-li .faces-Menu-ul
{
	display:none;
}

.facesBackboneMenu.faces-Menu-vertical.faces-Menu-accordion .faces-Menu-li.faces-Menu-open > .faces-Menu-ul
{
	display:block;
}

.facesBackboneMenu.faces-Menu-vertical.faces-Menu-accordion  .faces-Menu-hasChildren > .faces-Menu-openCloseTriggerHelper
{
	position:absolute;
	right:0;
	top:5px;
}


/*************************
 VerticalSlider
*************************/

.facesBackboneMenu.faces-Menu-slide
{
	height:100%;
    position:relative;
    overflow:hidden;
}

.facesBackboneMenu.faces-Menu-slide .faces-Menu-ul .faces-Menu-ul
{
    -webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
	transform:translateX(100%);
	
	position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:2;
}

.facesBackboneMenu.faces-Menu-slide .faces-Menu-ul .faces-Menu-li
{
	height:40px;
    position:initial;
}

.facesBackboneMenu.faces-Menu-slide .faces-Menu-ul .faces-Menu-li .faces-SelectablePanel
{	
    padding:10px;
}

.facesBackboneMenu.faces-Menu-slide .faces-Menu-li.faces-Menu-open > .faces-Menu-ul
{
	-webkit-transform:translateX(0px);
	-moz-transform:translateX(0px);
	transform:translateX(0px); 
}

.facesBackboneMenu.faces-Menu-slide .faces-Menu-li.faces-Menu-hasChildren > .faces-Menu-openCloseTriggerHelper
{
	float:right;
	margin-top:-20px;
	margin-right:12px;
	z-index:1;
}

.facesBackboneMenu.faces-Menu-slide .faces-Menu-closeTriggerSliderHelper
{
	width:100%;
	height:22px;
	display:block;
	border:0;
	background:rgba(0,0,0,0.06);
	box-shadow:0 -1px 0 rgba(0,0,0,0.1) inset;
	position:relative;
}

.facesBackboneMenu.faces-Menu-slide .faces-Menu-closeTriggerSliderHelper:hover
{
	background:rgba(0,0,0,0.1);
}

.facesBackboneMenu.faces-Menu-slide .faces-Menu-closeTriggerSliderHelper:before
{
	content:'';
	position:absolute;
	left:5px;
	top:7px;
	z-index:1;
}
