@external faces-*;

@def HEADER_HEIGHT 45px;

.facesBackboneTopMenuDisposal
{
	display:flex;
	min-height:100vh;
	flex-direction:column;
}

.facesBackboneTopMenuDisposal .faces-TopMenuDisposal-contentPanel
{
	flex:1;
	padding-top:HEADER_HEIGHT;
}

.facesBackboneTopMenuDisposal .faces-TopMenuDisposal-smallHeaderWrapper
{
	position: fixed;
	z-index:3;
	width: 100%;
	height:HEADER_HEIGHT;
	display:flex;
	flex-direction:row;
}

.facesBackboneTopMenuDisposal .faces-TopMenuDisposal-menuButtonContainer
{
	order:1;
	flex:HEADER_HEIGHT 0;
	display:flex;
	flex-direction:column;
}

.facesBackboneTopMenuDisposal .faces-TopMenuDisposal-menuPanel
{
	position:absolute;
	z-index:2;
	margin-top:HEADER_HEIGHT;
	height:100vh;
}

.facesBackboneTopMenuDisposal .faces-TopMenuDisposal-smallHeaderPanel
{
	order:2;
	flex:1;
}