<module rename-to='${moduleSimpleName}'>
	<inherits name='br.com.sysmap.crux.core.Crux'/>
	<inherits name='br.com.sysmap.crux.gwt.CruxGWTWidgets'/>
	<inherits name='br.com.sysmap.crux.widgets.CruxWidgets'/>
	<inherits name='com.google.gwt.user.theme.standard.Standard'/>
	<inherits name='br.com.sysmap.crux.themes.widgets.standard.Standard'/>	
</module>