@url svgIconMenu svgIconMenu;

@external faces-*;

body
{
	background: #CAD0D3;
	height: 100%;
	font-size: 1.2em;
}

.faces-Button
{
	width: 100%;
	display:block;
	margin: 0 auto;
	padding: 14px 14px; 
}

/* -------------------- RollingPanel -----------------------*/

.faces-itemWrapperRollingPanel 
{
  display: table;
}

.faces-itemWrapperRollingPanel row 
{
  display: table-row;
}

.faces-itemRollingPanel
{
	display: table-cell;
}

/* -------------------- SideMenuDisposal -----------------------*/

.faces-SideMenuDisposal-smallHeaderWrapper
{
	background:#4496c6;
}

.faces-SideMenuDisposal-menuButton
{
	border:none;
	width:100%;
	height:100%;
	flex:1;
	background:svgIconMenu no-repeat center center rgba(0,0,0,0.2);
	background-size:40% auto;
}


/* -------------------- TopMenuDisposal -----------------------*/

.faces-TopMenuDisposal-smallHeaderWrapper
{
	background:#4496c6;
}

.faces-TopMenuDisposal-menuButton
{
	border:none;
	width:100%;
	height:100%;
	flex:1;
	background:svgIconMenu no-repeat center center rgba(0,0,0,0.2);
	background-size:40% auto;
}


/* -------------------- facesMenu -----------------------*/

/*  === Vertical Slider ===  */

.facesMenu.faces-Menu-slide
{
	width:100%;
	height:100%;
    position:relative;
    overflow:hidden;
}


/* -------------------- facesPopup -----------------------*/

.faces-popup
{
	width:80%;
	margin:0;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
}

.faces-popup-header
{
	padding:20px 2px;
}

.faces-popup-close
{
	width:20px;
	height:20px;
	top:10px;
}

.crux-CodeServerNotifier .dialogContent
{
	width:90%;
	margin:5%;
	left:0;
	overflow:hidden;
}

.crux-CodeServerNotifier .dialogContent .gwt-Label:after
{
	margin:-37px 0 0 -5px;
}



