@url svgIconMenu svgIconMenu;

BODY
{
	background-color: #CAD0D3;
	margin: 0px;
	padding: 0px;
	height: 100%;
}
DIV, TD, LABEL, SPAN, INPUT, BUTTON
{
	font-size: 16px;
	font-family:OpenSans,Verdana,Helvetica,Arial,sans-serif;
}

@external crux-StyledPanel, crux-StyledPanelOuter;
.crux-StyledPanelOuter
{
	padding: 8px;
	width: 100%;
}
.crux-StyledPanel
{
	border: solid 1px #FFFFFF;
	border-radius: 2px !important;
	background-image: -webkit-linear-gradient(top, #F0F0F0, #EAEAEA);
	box-shadow: 0px 0px 10px #606060;
}

@external gwt-Label;
.gwt-Label
{
	color: #1C5994;
	text-shadow: 0px 1px #FFFFFF;
}

@external crux-Button;
.crux-Button
{
	color: #FFFFFF;
	background: -webkit-linear-gradient(#5D9AFF,rgba(93,154,255,1.0) 38%, #5891F0);
	background: -moz-linear-gradient(#5D9AFF,rgba(93,154,255,1.0) 38%, #5891F0);
	background: -ms-linear-gradient(#5D9AFF,rgba(93,154,255,1.0) 38%, #5891F0);
	background: -o-linear-gradient(#5D9AFF,rgba(93,154,255,1.0) 38%, #5891F0);
	background: linear-gradient(#5D9AFF,rgba(93,154,255,1.0) 38%, #5891F0);
	border: 1px solid rgba(45, 102, 195, 1);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(255, 255, 255, 0.2);
	border-radius: 2px;
	min-height: 45px;
	min-width: 100px;
	-webkit-user-select: none;
	padding: 8px 13px;
}

@external crux-FormDisplay, formEntryLabel, formEntryData;
.crux-FormDisplay
{
	width: 100%;
	padding: 8px;
}
.crux-FormDisplay .formEntryLabel
{
	padding-top: 5px;
}
.crux-FormDisplay .formEntryData
{
	padding-bottom: 15px;
	padding-top: 5px;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2), 0px 2px 0px rgba(255,255,255,0.6);
}
.crux-FormDisplay > tbody > tr:last-child > td
{
	box-shadow: none;
}

/******************************************************************************
    Screen Blocker
*******************************************************************************/

@external crux-DefaultScreenBlocker, crux-ProgressDialogScreenBlocker, crux-MessageDialog, crux-MessageDialogScreenBlocker;
@external menuSection-closed, menuSectionEntries-closed, menuSectionEntries;
.crux-ProgressDialogScreenBlocker, .crux-MessageDialogScreenBlocker
{
    background-color: #000000;
    opacity: .45;

    display: block;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.45);
    height: 200%;
    left: 0;
    position: fixed;
    top: 0;
    width: 200%;
    z-index: 98;
}

.crux-MessageDialog
{
    z-index: 99;
}

.crux-DefaultScreenBlocker
{
    background-color: #FFFFFF;
    opacity: .01;
    filter:"alpha(opacity=1)";
    cursor: wait;
}

@external crux-MenuTabsDisposal, menuTabsHeader, showMenuButton, menuTabsHeaderSplitPanel, menuEntry, menuSectionEntries, menuSection;
.crux-MenuTabsDisposal
{
}

/* Styling the TD that wraps the top bar  */
TABLE.menuTabsHeaderSplitPanel>TBODY>TR:first-child>TD
{
	height: 60px;
}
.crux-MenuTabsDisposal .menuTabsHeader
{
	background-color: #444949;
	height: 60px;
	text-align: right;
	width: 100%;
	border: solid 0px;
	border-bottom: solid 1px #FFFFFF;
}
.crux-MenuTabsDisposal .showMenuButton
{
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	background-size: 25%;
	margin-top: 10px;
	margin-left: 0px;
	background-position: center;
	background-color: transparent;
	border: none;
	float: left;
	-webkit-user-select: none;
	outline: none;
}
.crux-MenuTabsDisposal .menuEntry
{
	margin: 0px;
	border: solid 0px;
	height: 40px;
	background: white;
	width: 85%;
	margin-left: 15%;
	box-shadow: 0px -20px 10px 0px rgba(0,0,0,0.02) inset;
	color: #4c6879;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	position: relative;
	border-radius: 0px;
	cursor: pointer;
}
.crux-MenuTabsDisposal .menuEntry:after
{
	content: "";
	height: 40px;
	width: 30px;
	border: none;
	position: absolute;
	top: 0px;
	background: #81aa32;
	right: 0px;
	box-shadow: 0px -10px 15px -1px rgba(0,80,0,0.1) inset;
	color: white;
	padding: 0px;
	overflow: auto;
	background-image: url(right-arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.crux-MenuTabsDisposal .menuSection
{
	height: 50px;
	color: #fff;
	background-color: #4496c6;
	box-shadow: inset 0px -10px 30px #3d8dbd;
	font-size: 16px;
	padding: 0px;
	text-align: left;
	line-height: 50px;
	padding-left: 50px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
	border: solid 0px;
	width: 100%;
	position: relative;
}
.crux-MenuTabsDisposal .menuSection:after, .crux-MenuTabsDisposal .menuSection-closed:after 
{
	content: "...";
	position: absolute;
	right: 10px;
	opacity: 0.0;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	transition: opacity ease-in-out 0.5s;
}
.crux-MenuTabsDisposal .menuSection-closed:after 
{
	opacity: 0.4 !important;
}

.crux-MenuTabsDisposal .menuSectionEntries
{
	transition: height 0.2s ease-in-out;
	overflow: hidden;
}
.crux-MenuTabsDisposal .menuSectionEntries-closed
{ 
	height:0;
}

@external crux-TopMenuDisposal, headerPanel, showMenuButton, menuPanel, menuEntry;
.crux-TopMenuDisposal .showMenuButton
{
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	background-size: 25%;
	margin-top: 10px;
	margin-left: 0px;
	background-position: center;
	background-color: transparent;
	border: none;
	float: left;
	-webkit-user-select: none;
	outline: none;
}
.crux-TopMenuDisposal .headerPanel
{
	height: 60px;
	color: #FFFFFF;
	background-color: #606060;
	text-shadow: 0 1px 0 #000000;
	-webkit-user-select: none;
	text-align: center;
}
.crux-TopMenuDisposal .menuPanel .menuEntry
{
	width: 100%;
	margin-bottom: 0px;
	margin-top: 0px;
	border-radius: 0px !important;
	border-top: 0px;
}

/******************************************************************************
    RSS Panel
*******************************************************************************/
@external crux-RssPanel, rssPanelTitle, rssPanelBody, crux-entryTitle, crux-entryDate;
.crux-RssPanel
{
    width: 285px;
}

.crux-RssPanel .rssPanelTitle
{
    margin-top: 0;
    height: 50px;
    margin-left: 12px;
    font-weight: bold;  
    font-size:22px;
    text-shadow:0 2px 0 rgba(255,255,255,0.5);
}
.crux-RssPanel .rssPanelBody{
    margin:12px;
    border-radius:6px;
    background:rgba(0,0,0,0.2);
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.5) inset, 0 2px 0 rgba(255,255,255,0.5);
    overflow:hidden;
    width: 100%;
}
.crux-RssPanel .rssPanelBody TD{
    height: 40px;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(0,0,0,0.2)),color-stop(1, rgba(0,0,0,0)));
    border-bottom:1px solid #777;
    -webkit-box-shadow: 0 1px rgba(255,255,255,0.3);
}
.crux-RssPanel .rssPanelBody TD:last-child{
    border-bottom:none;
}

.crux-RssPanel .crux-entryTitle{
    margin:0;
    color:#fff;
    text-shadow:0 2px 2px rgba(0,0,0,0.4);
    font-size:13px;
    padding-top:10px;
    padding-left:10px;
    width:100%;
}
.crux-RssPanel .crux-entryDate{
    color:#fff;
    text-shadow:0 2px 2px rgba(0,0,0,0.4);
    padding-left:10px;
    font-size:9px;
}
/******************************************************************************/

@external gwt-TextBox;
.gwt-TextBox
{
	height: 35px;
	border: solid 1px rgba(0,0,0,.3);
	width: 100%;
	border-radius: 3px;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;	
}
.gwt-TextBox:focus
{
	border-color: #66AFE9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

@external gwt-CheckBox;
.gwt-CheckBox LABEL
{
	color: rgba(0,0,0,0.8);
	text-shadow: 0px 1px #FFFFFF;
}


/******************************************************************************
	ListShuffle
*******************************************************************************/

@external crux-ListShuttle, toSelectColumn, selectedColumn, buttonsColumn;

.crux-ListShuttle .buttonsColumn{
    margin:10px;
    text-align:center
}
.crux-ListShuttle .buttonsColumn button{
    border-radius:0;
    margin-left:-1px;
    width:25% !important;
    min-width:0;
    position:relative;
}
.crux-ListShuttle .buttonsColumn button{
    text-shadow:none;
    color:rgba(0,0,0,0); 
}
.crux-ListShuttle .buttonsColumn button:first-child{
    border-radius:3px 0 0 3px;    
}
.crux-ListShuttle .buttonsColumn button:before{
    position:absolute;
    color:white;
    text-shadow:0 1px 1px rgba(0,0,0,0.2);
    z-index:4;
    font-size:17px;
}
.crux-ListShuttle .buttonsColumn button:nth-child\(1\):before{
    content:'\25bc';
}
.crux-ListShuttle .buttonsColumn button:nth-child\(2\):before{
    content:'\25bc \ \25bc';
    width:1px;
    line-height:6px;
    margin-top:5px;
    left:50%;
    margin-left:-7px
}
.crux-ListShuttle .buttonsColumn button:nth-child\(3\):before{
    content:'\25b2';
}
.crux-ListShuttle .buttonsColumn button:nth-child\(4\):before{
    content:'\25b2 \ \25b2';
    width:1px;
    line-height:6px;
    margin-top:3px;
    left:50%;
    margin-left:-7px
}
.crux-ListShuttle .buttonsColumn button:last-child{
    border-radius:0 3px 3px 0;
}

.crux-ListShuttle fieldset{
    border:1px solid #aaa;
    border-radius:3px;
    padding:20px 0;
    box-shadow:0 2px 2px rgba(0,0,0,0.1) inset
}
.crux-ListShuttle fieldset div div div{
    padding:10px;
    border-bottom:1px solid #ccc;
}
.crux-ListShuttle fieldset div div div:last-child{
    border-bottom:none
}
.crux-ListShuttle fieldset legend{
    background:#aaa;
    padding:0 5px;
    border-radius:5px;
    margin-left:2%;
    font-weight:bold;
    color:white;
    font-size:12px;
}

.top-disposal-header-panel-small
{
	height: 100%;
	width: 100%;
	min-height: 40px;
	max-height: 40px;
	position:fixed;
	top:-20px;
	left:0;
	z-index:4;
	padding-left:40px;
	
}

.top-disposal-menu-panel-small
{
	padding-top: 40px; 
}

.top-disposal-footer-panel-small
{
	margin-top:-20px;
	width: 100%;
	position: fixed;
	bottom: 0;
	margin-bottom: -20px;
	z-index: 10;
}

.top-disposal-content-panel-small
{
	position:relative;
}

.menu-disposal-small
{
	top: 0px;
	left: 0px;
	z-index: 2;
	position: absolute;
	width:100% !important;
	height:100%: !important;
}

.top-menu-disposal-menubutton-container
{
	width:40px;
	height:40px;
	position:fixed;
	top:0;
	left:0;
	z-index:4;
}

.top-menu-disposal-menubutton
{
	position:absolute;
	top:0px;
	left:0px;
	width:40px;
	height:40px;
	background:svgIconMenu no-repeat center center rgba(0,0,0,0.3);
	background-size:80% auto;
}


/* -------------------- facesMenu -----------------------*/

/*  === Vertical Slider ===  */

.facesMenu.facesMenu-slide
{
	width:100%;
	height:100%;
    position:relative;
    overflow:hidden;
}

