@url svgIconMenu svgIconMenu;

@external faces-*;

body
{
	background: #CAD0D3;
	height: 100%;
	font-size: 1.2em;
}

.faces-Button
{
	display:block;
}

/* -------------------- Small - TopMenuDisposal -----------------------*/

.faces-TopMenuDisposal
{
	padding-top:40px;
}

.faces-TopMenuDisposal-smallHeaderWrapper
{
	
}

.faces-TopMenuDisposal-smallHeaderPanel
{
	
}

.faces-TopMenuDisposal-headerPanel
{
	height: 100%;
	width: 100%;
	min-height: 40px;
	max-height: 40px;
	position:fixed;
	top:-20px;
	left:0;
	z-index:4;
	padding-left:40px;
	 
}

.faces-TopMenuDisposal-menuPanel
{
	position: absolute;
	height: 100%;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.faces-TopMenuDisposal-menuPanel .facesMenu.faces-Menu-accordion.faces-Menu-vertical
{
	width: 100%;
	height: 100%;
}

.faces-TopMenuDisposal-footerPanel
{
	margin-top:-20px;
	width: 100%;
	position: fixed;
	bottom: 0;
	margin-bottom: -20px;
	z-index: 10;
}

.faces-TopMenuDisposal-contentPanel
{
	position:relative;
}

.faces-TopMenuDisposal-menuButtonContainer
{
	width:40px;
	height:40px;
	top:0;
	left:0;
	z-index:4;
	position:absolute;
}

.faces-TopMenuDisposal-menuButton
{
	position:absolute;
	top:0px;
	left:0px;
	width:40px;
	height:40px;
	background:svgIconMenu no-repeat center center rgba(0,0,0,0.3);
	background-size:80% auto;
}

.faces-TopMenuDisposal-smallHeaderWrapper
{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:3;
	padding-left:40px;
}

.faces-TopMenuDisposal-mallHeaderPanel div
{
	overflow:hidden;
}

/* -------------------- SideMenuDisposal -----------------------*/

.faces-SideMenuDisposal-smallHeaderWrapper
{
	background:#eee;
}

.faces-SideMenuDisposal-menuButton
{
	width:100%;
	height:100%;
	flex:1;
}


/* -------------------- facesMenu -----------------------*/

/*  === Vertical Slider ===  */

.facesMenu.faces-Menu-slide
{
	width:100%;
	height:100%;
    position:relative;
    overflow:hidden;
}


/* -------------------- facesPopup -----------------------*/

.faces-popup
{
	width:80%;
	margin:0;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
}

.faces-popup-header
{
	padding:20px 2px;
}

.faces-popup-close
{
	width:20px;
	height:20px;
	top:10px;
}

.crux-CodeServerNotifier .dialogContent
{
	width:90%;
	margin:5%;
	left:0;
	overflow:hidden;
}

.crux-CodeServerNotifier .dialogContent .gwt-Label:after
{
	margin:-37px 0 0 -5px;
}



