package $packageName;

#foreach ($importItem in $imports)
import $importItem;
#end

public interface $className<E, K>
{
	void create(E entity, AsyncCallback<E> callback);
	void retrieve(K key, AsyncCallback<E> callback);
	void update(E entity, AsyncCallback<Void> callback);
	void delete(K key, AsyncCallback<Void> callback);
}