package $packageName;

#foreach ($importItem in $imports)
import $importItem;
#end

@ValueObject
@ParameterObject(bindParameterByFieldName=false)
public class $className implements Serializable
{
#if($compositeIdentifier)
	@ValueObject
	@ParameterObject(bindParameterByFieldName=false)
	public static class PrimaryKey implements Serializable
	{
#printFields($identifierFields, "		",true)
	}

	@Parameter
	private PrimaryKey primaryKey;

#end
#printFields($fields,"	",false)
##
#if($compositeIdentifier)
	public void setPrimaryKey(PrimaryKey primaryKey)
	{
		this.primaryKey = primaryKey;
	}

	public PrimaryKey getPrimaryKey()
	{
		return this.primaryKey;
	}

#end
##
#macro (printFields $fieldsToPrint $indent $parameterObject)
##
#foreach ($fieldEntry in $fieldsToPrint.entrySet())
##
#set ($fieldName = $fieldEntry.getKey())
#if($fieldEntry.getValue())#set($fieldType=$fieldEntry.getValue())#else#set($fieldType="Object")#end
#if($parameterObject)
${indent}@Parameter
#end
${indent}private $fieldType $fieldName;

#end
##
#foreach ($fieldEntry in $fieldsToPrint.entrySet())
##
#set ($fieldName = $fieldEntry.getKey())
#set ($fieldNameUpper = $fieldName.substring(0,1).toUpperCase() + $fieldName.substring(1))
#if($fieldEntry.getValue()) #set($fieldType=$fieldEntry.getValue()) #else #set($fieldType=0) #end
##
#if($fieldType != 0)
${indent}public $fieldType get$fieldNameUpper()
${indent}{
${indent}	return this.$fieldName;
${indent}}

${indent}public void set$fieldNameUpper($fieldType $fieldName)
${indent}{
${indent}	this.$fieldName = $fieldName;
${indent}}

#end
#end
#end
}