package $packageName;

#foreach ($importItem in $imports)
import $importItem;
#end

@FormatterName("date")
public class DateFormatter implements Formatter
{
	DateTimeFormat format = DateTimeFormat.getFormat("dd/MM/yyyy");

	public String format(Object input) throws InvalidFormatException
	{
		return input != null && input instanceof Date ? format.format((Date) input) : null;
	}

	public Object unformat(String input) throws InvalidFormatException
	{
		return input != null && input.trim().length() > 0 ? format.parse(input) : null;
	}
}