@external *;

@url svgIconArrow svgIconArrow;
@url svgIconPlay svgIconPlay;
@url svgIconPause svgIconPause;
@url gridSaveIcon gridSaveIcon;
@url gridCancelIcon gridCancelIcon;
@url gridEditIcon gridEditIcon;


	

/****************
 Non-Selectables
****************/

.crux-ColorPickerDialog *,
.crux-Dialog *,
.crux-FlatMessageBox *,
.crux-DialogViewContainer *,
.crux-FileUploader *,
.grid .columnHeader *,
.flapCloseButton,
.crux-TabBarItem,
.crux-Button,
.crux-MenuTabsDisposal *,
.previousMessageButton,
.nextMessageButton
{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/***************/

/****************
     Buttons
****************/


.crux-Button,
.crux-FileUploader .fileInputButton,
.previousMessageButton,
.nextMessageButton
{
    background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) #4496c6;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.1) inset;
    margin:0 2px;
}

.crux-FormDisplay .formEntryData:first-child, .crux-FormDisplay .formEntryLabel
{
    padding-bottom: 10px;
    padding-right: 20px;
}

.crux-FormDisplay .formEntryData input[type="text"],.crux-FormDisplay .formEntryData select,.crux-FormDisplay .formEntryData textarea{
    width:100%;
}

.crux-FormDisplay tr:last-child .formEntryData{
    padding:10px 0 0 0;
    border-top:1px solid #DDD;
}
.crux-FormDisplay .formEntryLabel{
    text-align:right;
}

@external crux-MenuTabsDisposal, menuTabsSplitPanel, menuEntriesContainer, menuPanel, menuEntry;
@external  menuSection, menuSection-closed, menuSectionEntries, menuSectionEntries-closed, menuTabsHeaderSplitPanel, menuTabsHeader;
.crux-MenuTabsDisposal, .crux-MenuTabsDisposal .menuTabsSplitPanel, .crux-MenuTabsDisposal .menuTabsHeaderSplitPanel
{
    height:literal("calc(100% - 25px)");
    padding: 0px;
}
.crux-MenuTabsDisposal .menuTabsHeader
{
    background-color: #444949;
    height: 25px;
    text-align: right;
    width: 100%;
    border: solid 0px;
    border-bottom: solid 1px #FFFFFF;
}
.crux-MenuTabsDisposal .menuEntriesContainer
{
    width: 300px;
    position:absolute;
    top:0;
    left:0;
    background:url(img/logo-large.png) no-repeat 0 10px #ECECEC;
}
.menuTabsSplitPanel
{
    background-image: url(noise.png);
    background-color: #EAEAEA;
    border: none;
    border-right: solid 1px #EEEEEE;
    padding-left:300px;
}
.crux-MenuTabsDisposal .menuEntry
{
    margin: 0px;
    border: solid 0px;
    height: 40px;
    background: white;
    width: 85%;
    margin-left: 15%;
    box-shadow: 0px -20px 10px 0px rgba(0,0,0,0.02) inset;
    color: #4c6879;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: none;
    position: relative;
    border-radius: 0px;
    cursor: pointer;
}
.crux-MenuTabsDisposal .menuEntry:after
{
    content: "";
    height: 100%;
    width: 30px;
    border: none;
    position: absolute;
    top: 0px;
    background: #81aa32;
    right: 0px;
    box-shadow: 0px -10px 15px -1px rgba(0,80,0,0.1) inset;
    color: white;
    padding: 0px;
    overflow: auto;
    background-image: url(right-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.crux-MenuTabsDisposal .menuSection
{
    height: 50px;
    color: #fff;
    background-color: #4496c6;
    box-shadow: inset 0px -10px 30px #3d8dbd;
    font-size: 16px;
    padding: 0px;
    text-align: left;
    line-height: 50px;
    padding-left: 50px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    border: solid 0px;
    width: 100%;
    position: relative;
}
.crux-MenuTabsDisposal .menuSection:after, .crux-MenuTabsDisposal .menuSection-closed:after 
{
    content: "...";
    position: absolute;
    right: 10px;
    opacity: 0.0;
    transition: opacity ease-in-out 0.5s;
}
.crux-MenuTabsDisposal .menuSection-closed:after 
{
    opacity: 0.4 !important;
}
.crux-MenuTabsDisposal .menuSectionEntries
{
    transition: height 0.2s ease-in-out;
    overflow: hidden;
}
.crux-MenuTabsDisposal .menuSectionEntries-closed
{ 
}

@external crux-TabContainer, crux-TabPanelBottom; 
@external crux-TabBar, crux-TabBarItem, crux-TabBarItem-selected, flapLabel, flapCloseButton;
@external crux-RollingPanelPreviousWrapper, crux-RollingPanelPreviousWrapper-disabled, crux-RollingPanelPrevious;
@external crux-RollingPanelNextWrapper, crux-RollingPanelNextWrapper-disabled, crux-RollingPanelNext;
@external crux-TabBarFirst-wrapper, crux-TabBarRest-wrapper;  
.crux-TabContainer
{
    background-color: #FFFFFF;
}
.crux-TabBar
{
    height: 55px;
    background-color: #E6E6E6;
    box-shadow: inset 0 -20px 20px -10px rgba(0, 0, 0, 0.2), 5px -0px 10px -2px rgba(0,0,0,0.15) inset;
    
}
.crux-TabPanelBottom
{
    background-color: #FFFFFF;
    height: 100%;
    box-shadow: 10px 0px 20px -10px rgba(0,0,0,0.3) inset;
    padding-bottom: 0px;
    padding-top: 20px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}
.crux-TabBarItem
{
    height: 43px;
    min-width: 140px;
    background-color: #636969;
    opacity: 0.75;
    margin-left: 0px;
    cursor: default;
    box-shadow: -20px 0 20px -10px rgba(0, 0, 0, 0.2) inset, 0px -20px 10px -10px rgba(0, 0, 0, 0.2) inset;
    position: relative;
    transition: all ease 0.3s;
    white-space: nowrap;
}
.crux-TabBarItem-selected
{
    background-color: #4496C6;
    opacity: 1;
    box-shadow: 0px -20px 10px -10px rgba(0, 0, 0, 0.1) inset;
}
.crux-TabBarItem-selected:after
{
    position: absolute;
    height: 0;
    width: 0;
    content: "";
    border: solid 8px #fff;
    left: 80px;
    bottom: -12px;
}
.crux-TabBarItem .flapLabel
{
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 12px;
    padding-left: 10px;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.flapCloseButton 
{
    background-color: transparent;
    transition: font-size ease-in-out 0.15s;    
    height: 14px;
    width: 14px;
    margin-left: 5px;
    margin-top: 2px;
    text-align: center;
    cursor: pointer;
}
.flapCloseButton:before 
{
    content: "X";
    color: rgb(255, 255, 255);
    padding-right: 1px;
    font-family: arial;
    font-size: 14px;
    top: 8px;
    position: absolute;
    right: 8px;
    transition: all ease-in-out 0.1s;
}
.flapCloseButton:hover 
{
    font-size: 14px;
}
.flapCloseButton:hover:before 
{
    font-size: 16px;
}
.crux-RollingPanelPreviousWrapper, .crux-RollingPanelNextWrapper 
{
    width: 31px;
    height: 55px;
}
.crux-RollingPanelPrevious, .crux-RollingPanelNext
{
    background-color: transparent;
    height: 55px;
    margin-top: 0px;
    width: 31px;
    color: transparent !important;
    text-align: center;
    font-size: 18px;
    border: none;
    position: relative;
    cursor: pointer;
}
.crux-RollingPanelPrevious:after, .crux-RollingPanelNext:after
{
    height: 55px;
    width: 30px;
    position: absolute;
    top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    cursor: pointer;
}
.crux-RollingPanelPrevious:after
{
    left: 0px;
    box-shadow: 10px -3px 10px -5px rgba(0, 0, 0, 0.2);
    border-right: solid 1px rgba(255,255,255,0.3);
    background-image: url(left-arrow.png);
}
.crux-RollingPanelNext:after
{
    right: 0px;
    box-shadow: -10px -3px 10px -5px rgba(0, 0, 0, 0.2);
    border-left: solid 1px rgba(255,255,255,0.3);
    background-image: url(right-arrow.png); 
}
.crux-RollingPanelPrevious:hover, .crux-RollingPanelNext:hover 
{
    color: #FFFFFF;
}
.crux-RollingPanelPreviousWrapper-disabled
{
    visibility: hidden;
}
.crux-RollingPanelNextWrapper-disabled
{
    visibility: hidden;
}
.crux-TabBarFirst-wrapper, .crux-TabBarRest-wrapper
{
    display: none;
}

@external crux-FileUploader, dropArea, filesArea, filePanel, crux-ProgressBar, percentBar, cancelUploadButton, fileInputButton, thumbnailImage, chooseButton;
.crux-FileUploader
{
    width: 400px;
}

.crux-FileUploader .buttonsPanel
{
    text-align:center;
}

.crux-FileUploader .filePanel
{
    background:#fff;
    width:literal("calc(100% - 20px)");
    position: relative;
    width: 100%;
    height: 60px;
}


.crux-FileUploader .filePanel .cancelUploadButton
{
    background:svgIconClose no-repeat;
    
    border: 0px solid;
    transition: box-shadow ease-in-out 0.15s;
    height: 16px;
    width: 16px;
    text-align: center;
    padding: 0px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}


.crux-FileUploader .filePanel .crux-ProgressBar .percentBar
{
    height: 18px !important;
    border-radius: 1px;
    border-top: solid 2px #A1CA52;
    color: #618A12;
    font-size: 11px;
    line-height: 18px;
    padding-left: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: absolute;
    top: -2px;
}
.crux-FileUploader .filePanel .gwt-Label
{
    overflow: hidden;
    width: 280px;
    margin-left: 10px;
    color: #4C6879;
    position: absolute;
    left: 55px;
    top: 6px;
    text-align: left;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0px;
    white-space: nowrap;
}

/******************************************************************************
    RSS Panel
*******************************************************************************/
.crux-RssPanel
{
    width: 100%;
}
.crux-RssPanel .rssPanelTitle
{
    color: #004F5E;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
    font-size: 1.5em;
    height: 50px;
    margin-left: 10px; 
}

.crux-RssPanel .rssPanelBody
{
    padding-left: 12px;
    padding-right: 12px;
}

.crux-RssPanel .rssPanelBody TD
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.crux-RssPanel .crux-entryTitle
{
    color: #333;
    font-size: 15px;
    font-family: Helvetica;
    cursor: pointer;
}

.crux-RssPanel .crux-entryDate
{
    font-size: 11px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.4) inset, 0 1px 0 rgba(255,255,255,0.5);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    float: right;
    padding: 3px 8px;
}

/******************************************************************************/

.gwt-Label, .crux-MaskedLabel
{
    color: #1C5994;
    text-shadow: 0px 1px #FFFFFF;
}

/******************************************************************************
    SortableList
*******************************************************************************/

@external crux-sortableList, crux-sortableList toSelectColumn, crux-sortableList selectedColumn, crux-sortableList buttonsColumn, crux-sortableList listColumn, crux-sortableList listColumnFieldset;

.crux-sortableList
{
/*     display: table; */
    max-width: 20%;
}
.crux-sortableList .listColumn
{
    text-align: center;
/*     display: table-cell; */
}
.crux-sortableList .buttonsColumn{
    margin:10px;
    text-align:center
}
.crux-sortableList .buttonsColumn button{
    border-radius:0;
    margin-left:-1px;
    width:25% !important;
    min-width:0;
    position:relative;
}
.crux-sortableList .buttonsColumn button{
    text-shadow:none;
    color:rgba(0,0,0,0); 
}
.crux-sortableList .buttonsColumn button:first-child{
    border-radius:3px 0 0 3px;    
}
.crux-sortableList .buttonsColumn button:before{
    position:absolute;
    color:white;
    text-shadow:0 1px 1px rgba(0,0,0,0.2);
    z-index:4;
    font-size:17px;
}
.crux-sortableList .buttonsColumn button:nth-child\(1\):before{
    content:'\25b2';
}
.crux-sortableList .buttonsColumn button:nth-child\(2\):before{
    content:'\25bc';
    width:1px;
    line-height:6px;
    margin-top:3px;
    left:50%;
    margin-left:-7px
}
.crux-sortableList .buttonsColumn button:last-child{
    border-radius:0 3px 3px 0;
}
.crux-sortableList .listColumnFieldset 
{
    border:1px solid #ccc;
    border-radius:3px;
}

/******************************************************************************
    ListShuffle
*******************************************************************************/

.crux-ListShuttle
{
    margin:10px 0;
}

.crux-ListShuttle .toSelectColumn,
.crux-ListShuttle .selectedColumn
{
    float:left;
    width:40%;
    height:100%;
}

.crux-ListShuttle .buttonsColumn
{
    float:left;
    width:10%;
    margin:9px 5% 0;
}

.crux-ListShuttle legend
{
    color:#FFF;
    font-size:10px;
    padding:2px 7px;
    background:#999;
    border-radius:100px;
}

.crux-ListShuttle .buttonsColumn button{
    width:100%;
    font-size:11px;
    font-weight:bold;
    border-radius:0;
    margin-top:-1px;
    padding:8px 0;
}
.crux-ListShuttle .buttonsColumn button:first-child{
    border-radius:3px 3px 0 0;
}
.crux-ListShuttle .buttonsColumn button:last-child{
    border-radius:0 0 3px 3px;
}

.crux-ListShuttle fieldset{
    border:1px solid #ccc;
    border-radius:3px;
    height:100%;
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.1) inset;
    display:block;
    padding:0;
}

.crux-ListShuttle fieldset > div
{
    height:180px;
    overflow-y:auto;
}

.crux-ListShuttle fieldset div div div
{
    padding:4px 0;
    border-bottom:1px solid #eee;
    font-size:13px;
}

.crux-ListShuttle fieldset div div div:last-child
{
    border-bottom:0;
}

.crux-ListShuttle fieldset div div div[tabindex]:last-child
{
    border-radius:0 0 3px 3px;
}


/* common for all dialogs */


.crux-Dialog, .crux-ProgressBox, .crux-FlatMessageBox, .crux-FlatDialog
{
    background-color: #FFF;
    border-radius: 3px;
    box-shadow:0 0 0 1px rgba(0, 0, 0, 0.2), 0 5px 20px rgba(0, 0, 0, 0.4) !important;
    position: fixed !important;
    z-index:9;
}

.crux-Dialog .dialogTitleBodySplit, .crux-ProgressBox .dialogTitleBodySplit, .crux-FlatMessageBox .dialogTitleBodySplit
{
    width: inherit;
    height: inherit;
    min-height: inherit;
    position: relative;
    overflow:hidden;
}
.crux-Dialog .dialogTopBar, .crux-ProgressBox .dialogTopBar, .crux-FlatMessageBox .dialogTopBar
{
    position: absolute;
    padding-top: 10px;
    height: 40px;
    width: inherit;
    top: 0px;
    left: 0px;
    z-index:1;
    background:#f7f7f7;
    color:#5491B4;
    box-shadow:0 -2px #EAEAEA inset, 0 1px 0 #D1D1D1;
    padding:11px 2px;
    border-radius:3px 3px 0 0;
}
.crux-Dialog .dialogTopBarDragHandle, .crux-ProgressBox .dialogTopBarDragHandle, .crux-FlatMessageBox .dialogTopBarDragHandle
{
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    height: 100%;
    width: 100%;
    cursor: move;
}
.crux-Dialog .dialogTitle, .crux-ProgressBox .dialogTitle, .crux-FlatMessageBox .dialogTitle
{
    color: #4496C6;
    text-align: center;
    font-size: 18px;
}
.crux-ProgressBox .dialogTitle{
    font-size:12px;
    margin-top:6px;
}
.crux-Dialog .dialogCloseButton
{
    position: absolute;
    right: 2px;
    top: 2px;
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
.crux-Dialog .dialogCloseButton:after 
{
    content: "X";
    color: #4496C6;
    font-size: 18px;
}
.crux-Dialog .dialogBody, .crux-ProgressBox .dialogBody, .crux-FlatMessageBox .dialogBody
{
    overflow:auto;
    height:literal("calc(100% - 58px)");
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    margin-top:40px;
    padding:10px 15px 0;
}
.crux-Dialog .popupContent, .crux-ProgressBox .popupContent, .crux-FlatMessageBox .popupContent
{
    height: 100%;
    min-height: inherit;
    width: 100%;
}
.crux-Dialog .dialogResizer, .crux-FlatMessageBox .dialogResizer
{
    position: absolute;
    height: 12px;
    width: 12px;
    bottom: 0px;
    right: 0px;
    /* border: solid 1px #AAA; */
    border-top: rgba(0, 0, 0, 0);
    border-left: rgba(0, 0, 0, 0);
    cursor: nwse-resize;
    border-bottom-right-radius: 3px;
    background: linear-gradient(135deg, #FFF 50%, #AAA 50.1%, #EEE 60%);
    padding: 10px;
}
.crux-Dialog .dialogResizer:hover, .crux-FlatMessageBox .dialogResizer:hover{
    background: linear-gradient(135deg, #FFF 50%, #AAA 50.1%, #e0e0e0 60%);
}
.crux-Dialog .dialogResizer:before, .crux-FlatMessageBox .dialogResizer:before
{
    content: "";
    position: absolute;
    height: 7px;
    width: 11px;
    bottom: 5px;
    right: 3px;
    border-top: solid 1px #AAA;
    /* border-top: rgba(0, 0, 0, 0); */
    /* border-left: rgba(0, 0, 0, 0); */
    cursor: nwse-resize;
    border-bottom-right-radius: 2px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
.crux-Dialog .dialogResizer:after, .crux-FlatMessageBox .dialogResizer:after
{
    content: "";
    position: absolute;
    height: 7px;
    width: 8px;
    bottom: 3px;
    right: 3px;
    border-top: solid 1px #AAA;
    /* border-top: rgba(0, 0, 0, 0); */
    /* border-left: rgba(0, 0, 0, 0); */
    cursor: nwse-resize;
    border-bottom-right-radius: 2px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
@external crux-ProgressBox, crux-InfinityProgressBarAnimation, crux-InfinityProgressBar, progressBarSlot, progressBarFill;
.crux-ProgressBox
{
    z-index:9;
    width: 200px;
    height: 60px;
}
.crux-ProgressBox .dialogTopBar
{
    box-shadow: none;
    padding-top: 6px;
}
.crux-ProgressBox .dialogBody
{
    padding-left:20px;
    padding-right:20px;
    padding-top: 0px;
}

.crux-FlatMessageBox
{
    max-width:80%;
    min-width:350px;
    min-height:120px;
}
.crux-FlatMessageBox .dialogTopBar{
    opacity:0;
}
.crux-FlatMessageBox .dialogBody{
    margin-top:0;
    padding:20px 5px 0;
    height:100%;
}
.crux-FlatMessageBox .messageBoxContents
{
    text-align: center;
}
.crux-FlatMessageBox .crux-Button
{
    margin-top: 25px;
    padding:8px 34px;
}
.crux-FlatMessageBox-success .gwt-Label
{
    color: #517A02; 
}
.crux-FlatMessageBox-info .gwt-Label
{
    color: #4c6879; 
}
.crux-FlatMessageBox-warn .gwt-Label
{
    color: #C28C00; 
}
.crux-FlatMessageBox-error .gwt-Label
{
    color: #B01010;
}
/*
.crux-FlatMessageBox-info .crux-Button
{
    background-color: #4496C6;  
}
.crux-FlatMessageBox-success .crux-Button
{
    background-color: #517A02;  
}
.crux-FlatMessageBox-warn .crux-Button
{
    background-color: #816A02;  
}
.crux-FlatMessageBox-error .crux-Button
{
    background-color: #D11010;  
}
*/
.crux-FileUploader .fileInputButton{
    padding:20px 14px;
    line-height:40px;
    margin-top:10px;
    cursor:pointer;
    width:170px;
}

.gwt-CheckBox{
    display:inline-block;
}
.gwt-CheckBox input{
    float:left;
}
.gwt-CheckBox label{
    font-size:14px;
    float:left;
    margin-right:10px;
    margin-top:-3px;
}
.gwt-CheckBox:before,.gwt-CheckBox:after{
  content:" ";
  display:table;
}
.gwt-CheckBox:after{
  clear:both;
} 



/***********************************************************/
/*********************- Dialog Box -************************/
/************ (Versão antiga, com tabelas) *****************/


.crux-DialogViewContainer, .crux-ColorPickerDialog{
    background:white;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 5px 20px rgba(0, 0, 0, 0.4) !important;
    z-index:9;
}
.dialogTop{
    height:40px;
}
.dialogTop td{
    background:#F7F7F7;
    color:#5491B4;
    box-shadow:0 -2px #EAEAEA inset, 0 1px 0 #D1D1D1;
    padding:0 3px;
    cursor:move;
}
.dialogTop  td:nth-child\(1\){
    border-radius:3px 0 0 0;
}
.dialogTop  td:nth-child\(2\){
    padding:0px 2px;
    border-radius:3px 3px 0 0;
    text-align:center;
}
.dialogTop  td:nth-child\(3\){
    border-radius:0 3px 0 0;
}
.dialogMiddleCenter{
    padding:10px;
}
.dialogMiddleCenter button
{
    margin-top:20px;
}
.closeButton{
    position:absolute;
    top:-8px;
    right:11px;
    width:16px;
    height:16px;
    border:none;
    background:svgIconClose;
    background-size:100% auto;
}
.crux-DialogViewContainer .dialogResizer
{
    position: absolute;
    height: 12px;
    width: 12px;
    bottom: 0px;
    right: 0px;
    /* border: solid 1px #AAA; */
    border-top: rgba(0, 0, 0, 0);
    border-left: rgba(0, 0, 0, 0);
    cursor: nwse-resize;
    border-bottom-right-radius: 3px;
    background: linear-gradient(135deg, #FFF 50%, #AAA 50.1%, #EEE 60%);
    padding: 10px;
}
.crux-DialogViewContainer .dialogResizer:hover
{
    background: linear-gradient(135deg, #FFF 50%, #AAA 50.1%, #e0e0e0 60%);
}
.crux-DialogViewContainer .dialogResizer:before
{
    content: "";
    position: absolute;
    height: 7px;
    width: 11px;
    bottom: 5px;
    right: 3px;
    border-top: solid 1px #AAA;
    /* border-top: rgba(0, 0, 0, 0); */
    /* border-left: rgba(0, 0, 0, 0); */
    cursor: nwse-resize;
    border-bottom-right-radius: 2px;
    -webkit-transform: rotate(135deg);
}

.crux-DialogViewContainer .dialogResizer:after
{
    content: "";
    position: absolute;
    height: 7px;
    width: 8px;
    bottom: 3px;
    right: 3px;
    border-top: solid 1px #AAA;
    /* border-top: rgba(0, 0, 0, 0); */
    /* border-left: rgba(0, 0, 0, 0); */
    cursor: nwse-resize;
    border-bottom-right-radius: 2px;
    -webkit-transform: rotate(135deg);
}

.detailImage
{
    height:100%;
    right:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:98;
    -moz-box-sizing:border-box;
}

.grid-detail-dialogbox
{
    font-size: 11px;
    background-color: white;
    border: 1px solid #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 1.25em;
    border-radius: 6px;
    z-index: 98;
    color: #444;
}

.msg-error-grid
{
    font-size:11px;
    color: #FF2C19;
    font-weight: bolder;
    text-align: center;
}

.msg-success-grid
{
    font-size:11px;
    color: #297A30;
    font-weight: bolder;
    text-align: center;
}

.msg-warning-grid
{
    font-size:11px;
    color: #C4C04F;
    font-weight: bolder;
    text-align: center;
}


.msg-info-grid
{
    font-size:11px;
    color: #2D3E86;
    font-weight: bolder;
    text-align: center;
}

/****************
    AdaptiveGrid
****************/

.grid{
    margin:20px 0;
}

.grid tr
{
    height: 31px;
}

.grid td
{
    border: 1px solid #D4D4D4;
    min-width: 100px;
    background: #FFF !important;
}

.grid th
{
    background: #E4F6F1 !important;
}

.grid .columnHeadersRow .columnHeader table td
{
    border:none;
    background:none !important;
    color:#1c5994;
    font-weight:bold;
}
.grid .columnHeadersRow .columnHeader table td .label
{
    padding:0 10px;
}
.grid .gwt-Label, .grid .crux-MaskedLabel
{
    color:#222;
    text-align:left;
    padding:0 10px;
}
.grid .columnHeader
{
    background:#f7f7f7;
    box-shadow:0 -2px 0 #eaeaea inset;
}
.grid .columnSorter
{
    text-align:left;
}
.grid .columnSorter table{
    width:100%;
}
.grid .columnSorter .arrow
{
    position:relative;
}
.grid .columnSorter .arrow:before
{
    content:'';
    width:0;
    height:0;
    right:0;
    top:-5px;
    position:absolute;
    margin-right:10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;    
    border-bottom: 5px solid #999;
}
.grid .columnSorter .arrow:after
{
    content:'';
    width:0;
    height:0;
    right:0;
    top:1px;
    position:absolute;
    margin-right:10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;    
    border-top: 5px solid #999;
}
.grid .columnSorter.columnSorter-asc .arrow:before,
.grid .columnSorter.columnSorter-asc .arrow:after,
.grid .columnSorter.columnSorter-desc .arrow:before,
.grid .columnSorter.columnSorter-desc .arrow:after
{
    display:none;
}

.grid .columnSorter.columnSorter-asc .arrow
{
    width:0;
    height:0;
    float:right;
    margin-right:10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;    
    border-bottom: 5px solid #111;
}
.grid .columnSorter.columnSorter-desc .arrow
{
    width:0;
    height:0;
    float:right;
    margin-right:10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;    
    border-top: 5px solid #111;
}
.grid .crux-Cell .columnHeader .columnSorter
{
    cursor:pointer;
}

/****************
    StoryBoard
****************/

.storeItem
{
    margin-right:20px;
    margin-bottom:20px;
}

/****************
    PromoBanner
****************/

.promoBannerImage
{
    background-repeat:no-repeat;
    background-position:center center;
    background-color:#acdf53;
    color:white;
}
.messagePanel
{
    width:100%;
    height:100%;
}
.messagePanel td
{
    vertical-align:middle !important;
}
.messagePanel .title
{
    text-align:center;
    font-size:30px;
    text-shadow:0 1px 0 rgba(0,0,0,0.1), 0 2px 1px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1), 0 4px 3px rgba(0,0,0,0.1), 0 6px 3px rgba(0,0,0,0.1);
    color:#fff;
}
.messagePanel .text
{
    text-align:center;
    color:#fff;
    font-size:17px;
    text-shadow:0 1px 0 rgba(0,0,0,0.1), 0 2px 1px rgba(0,0,0,0.1);
    
}
.bannersArea
{
    margin:10px;
    border-radius:5px;
    overflow:hidden;
}

.bannersArea .leftArrow, .bannersArea .rightArrow
{
    width:50px;
    height:90px;
    background:svgIconArrow no-repeat center rgba(0,0,0,0.2);
    background-size:22px auto;
    border-radius:4px 0 0 4px;
}

.bannersArea .leftArrow:hover, .bannersArea .rightArrow:hover
{
    background:svgIconArrow no-repeat center rgba(0,0,0,0.35);
    background-size:22px auto;
}

.bannersArea .leftArrow
{
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -ms-transform:rotate(-180deg);
    transform:rotate(-180deg);
}

.bullets
{
    margin:10px 0 10px 10px;
}

.bullets .bullet
{
    width:8px;
    height:8px;
    background:rgba(0,0,0,0.4);
    border-radius:10px;
    margin-right:10px;
}

.bullets .bullet.bullet-active
{
    background:rgba(0,0,0,0.7);
}


/****************
   ScrollBanner
****************/

.crux-Slideshow td
{
    text-align:center;
}

.crux-SlideshowComponent .crux-RollingPanelBody
{
    width:auto !important;
    border-radius:3px;
    overflow:hidden;
    box-shadow:0 0 0 1px rgba(0,0,0,0.9);
    display:inline-block;
    background:#000;
    height:45px;
}

.crux-SlideshowComponent .crux-RollingPanelBody .thumbnail
{
    margin:0 1px 0 0 !important;
    opacity:0.6;
}

.crux-SlideshowComponent .crux-RollingPanelBody table tr td:last-child .thumbnail
{
    margin-right:0 !important;
}

.crux-SlideshowComponent .crux-RollingPanelBody .thumbnail:hover
{
    opacity:1;
}

.crux-SlideshowComponent .crux-RollingPanelBody .thumbnail.thumbnail-selected
{
    opacity:1;
}

.crux-Slideshow .crux-SlideshowNavigator
{
    width:auto !important;
    display:inline-block;
    padding:5px 30px;   
    font-weight:bold;
    border-radius:50px;
    border:2px solid #797979;
    margin:10px 0;
}
.crux-Slideshow .crux-SlideshowNavigator .gwt-Label
{
    color:#797979 !important;
    text-align:none !important;
    font-size:12px !important;
}
.crux-SlideshowComponent .crux-Photo .gwt-Image
{
    box-shadow:0 0 54px rgba(0,0,0,0.33);
    margin:50px 0;
}
.crux-SlideshowPlayPanel
{
    width:37px;
    height:37px;
    border-radius:2px;
    border:2px solid #6c6c6c;
    background:svgIconPlay no-repeat no-repeat 10px center transparent;
    border-radius:37px;
    margin-top:-40px;
    margin-bottom:15px;
    position:relative;
    z-index:2;
}
.crux-SlideshowPlayPanel.crux-SlideshowPlayPanel-playing
{
    background:svgIconPause no-repeat no-repeat 9px center transparent;
}
.crux-SlideshowPhotoDescription
{
    width:50% !important;
    display:block;
    border-top:1px solid #ccc;
    padding-top:10px;
    color:#888;
    margin:-56px auto 10px;
}


/****************
   ScrollBanner
****************/

.crux-ScrollBanner
{
    padding:10px;
    background:#fff;
}

.crux-ScrollBanner > tbody > tr > td:first-child
{
    width:100% !important;
}


.crux-ScrollBanner .message
{
    padding:10px;
    letter-spacing: -1px;
}

.crux-ScrollBanner .messageCount
{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    font-size:13px;
    padding:5px 0;
    margin:0 2px;
}

.crux-ScrollBanner .previousMessageButton .gwt-Label
{
    width:0;
    height:0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;    
    border-bottom: 5px solid #fff;
}

.crux-ScrollBanner .nextMessageButton .gwt-Label
{
    width:0;
    height:0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;    
    border-top: 5px solid #fff;
}

.crux-ScrollBanner .previousMessageButton, .nextMessageButton
{
    padding:8px 9px;
}


.crux-StyledPanelOuter
{
    width:auto;
}


/****************
    StackMenu
****************/

.crux-StackMenu
{
    width:200px;
}


/****************
 TopMenuDisposal
****************/
.crux-TopMenuDisposal .headerPanel .menuPanel
{
    border:1px solid #ccc;
    border-radius:2px;
    overflow:hidden;
}

.crux-TopMenuDisposal .headerPanel .menuPanel table
{
    width:100%;
}

.crux-TopMenuDisposal .headerPanel .menuPanel .menuEntry
{
    width:auto;
    padding:10px;
    color:#222;
    text-align:center !important;
    border-right:1px solid #ccc;
    box-shadow:none !important;
}

.crux-TopMenuDisposal .headerPanel .menuPanel .menuEntry:hover
{
    background:#f1f1f1;
}

.crux-TopMenuDisposal .headerPanel .menuPanel .menuEntry:last-child
{
    border-right:0;
}

.crux-TopMenuDisposal .headerPanel .menuPanel .menuEntry:after
{
    display:none;
}


/****************
      Timer
****************/

.crux-Timer
{
    display:inline-block;
}

.save-column-button
{
	width: 20px;
	height:20px;
	border:none;
	background: gridSaveIcon no-repeat;
}

.cancel-column-button
{
	width: 20px;
	height:20px;
	border:none;
	background: gridCancelIcon no-repeat;
}

.panel-editor-column
{
	border: none;
	padding: 0px;
	width:60px;
}
.crux-ViewContainer
{
	height:100%;
	width:100%;
} 