@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@url urlMountainBg mountainBg;
HTML
{
	height: 100%;
}
@url urlNoiseBg noiseBg;
BODY
{
	margin:0;
	background-image: urlNoiseBg;
	background-color: #E5E5E5;
	min-height: 100%;
	overflow-y:scroll;
	font-size:13px;
	font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
}

ul{
	list-style:none;
}
a{
	text-decoration:none;
	color:inherit;
}
h1, h2, h3, h4, h5, h6{
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
}
@external viewContainer;
.viewContainer
{
	padding-bottom: 20px;
}

@url urlTopMenuDisposalHeaderLogo topMenuDisposalHeaderLogo;
@external defaultLink, crux-TopMenuDisposal, disposalWrapper, headerPanel, showMenuButton, menuPanel, menuEntry, contentPanel, gwt-MenuBar, gwt-MenuItem;
.disposalWrapper
{
	text-align: center;
}
.defaultLink{
	font-weight:bold;
	color:#004250;
}
.defaultLink:hover{
	font-weight:bold;
	color:#1a7c91;
}
.crux-TopMenuDisposal .headerPanel
{
	width:980px;
	height:48px;
	margin:24px auto 0;
	background:#77a400;
	background:linear-gradient(#77a400 70%, #5d8100 100%);
	box-shadow:0 2px 0 #a1c400 inset;
	border-bottom:1px solid #425b00;
	border-radius:4px 4px 0 0;
}
.crux-TopMenuDisposal .menuPanel
{
	text-align: left;
}
.crux-TopMenuDisposal .gwt-MenuBar
{
	background: transparent !important;
	display: inline-block;
}
.crux-TopMenuDisposal .gwt-MenuBar TABLE
{
	border-spacing: 0;
}
.crux-TopMenuDisposal .menuEntry
{
	background:transparent;
	color: white;
	font-weight: normal;
	font-size: 13px;
	padding-left: 30px;
	padding-right: 30px;
	height: 46px;
	cursor: pointer;
	text-shadow:0 1px 1px rgba(0,0,0,0.44);
	box-shadow:-1px 0 0 rgba(0,0,0,0.1) inset, 1px 0 0 rgba(214,255,25,0.11);
}
.crux-TopMenuDisposal .menuEntry:hover, .gwt-MenuItem:hover{
	background:rgba(0,0,0,0.15);
	box-shadow:-1px 0 0 rgba(0,0,0,0.1) inset, -1px 0 0 rgba(0,0,0,0.13), 1px 0 0 rgba(214,255,25,0.11);
}
.crux-TopMenuDisposal .gwt-MenuBar TABLE TR TD:first-child
{
	border-left: solid 0px;
}
.crux-TopMenuDisposal .gwt-MenuBar TABLE TR TD:last-child
{
	border-right: solid 0px;
}
.crux-TopMenuDisposal .contentPanel
{
	display: inline-block;
	min-height: 400px;
	padding-top:20px;
}
@external container;
.container{
	width:980px;
	margin:0 auto;
	text-align:left;
}

@external crux-PromoBanner, bannersArea, bullets, title, text, leftArrow, messagePanel, rightArrow, leftArrow-disabled, rightArrow-disabled, bullet, bullet-active;
@external crux-HorizontalSwapPanel;
@sprite .crux-PromoBanner .rightArrow
{
	width: 57px;
	height: 79px;
	gwt-image: "bannerRightArrow";
	cursor: pointer;
}
@sprite .crux-PromoBanner .leftArrow
{
	width: 57px;
	height: 79px;
	gwt-image: "bannerLeftArrow";
	cursor: pointer;
}
.bannersArea{
	border-radius:4px;
	overflow:hidden;
}
.crux-PromoBanner .leftArrow-disabled, .crux-PromoBanner .rightArrow-disabled
{
	opacity: .5;
}
.crux-PromoBanner .bullets{
	background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)) #ccc;
	border-radius:0 0 4px 4px;
}
.crux-PromoBanner .bullets td{
	vertical-align:middle;
	text-align:center;
	padding:10px;
}
.crux-PromoBanner .bullet
{
	width: 6px;
	height: 6px;
	background: #7a7a7a;
	border-radius: 6px;
	float: left;
	cursor: pointer;
	margin:0 auto;
}
.crux-PromoBanner .bullet-active
{
	box-shadow: 0 0 0 1px #87af1e;
	background: #e2ff94 !important;
}
.crux-PromoBanner DIV
{
	outline: none;
}
.crux-PromoBanner .title
{
	font-family:'Open Sans', sans-serif;
	font-size: 35px;
	color: #104b57;
	color:rgba(0,0,0,0.5);
	font-weight:lighter;
	margin-left: 30px;
	margin-top: 20px;
}
.crux-PromoBanner .text
{
	font-family:'Open Sans', sans-serif;
	background-attachment: scroll;
	color: #4a4a4a;
	color:rgba(255,255,255,0.9);
	font-size: 22px;
	margin-left: 30px;
	margin-top: 20px;
	width: 380px;
	text-shadow:0 1px 1px rgba(0,0,0,0.2);
}
.messagePanel{
	margin-left:40px;
	padding-top:15px;
}

@url urlViewTextPanelBg viewTextPanelBg;
@external viewTextPanel, highlightText;
.viewTextPanel 
{
	background-image: urlViewTextPanelBg;
	background-size: 100% 100%;
	min-height: 200px;
	background-repeat: no-repeat;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 20px;
	text-align: left;
}
.viewTextPanel, .viewTextPanel h1, .viewTextPanel h3, .viewTextPanel p 
{
	color: #153A42;
	text-shadow: rgba(255, 255, 255, 1) 0px 1px 0px;
	font-weight: normal;
}
.viewTextPanel h1
{
	color: #155a62;
	font-size: 18px;
	font-weight: bold;
}
.viewTextPanel h2
{
	font-size: 14px;
	font-weight: bold;
	color: #155a62;
}
.viewTextPanel p
{
	font-size: 14px;
}
.viewTextPanel .highlightText
{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #404040;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
	font-size: 14px;
}

@external itemSlot, infoButton;
.itemSlot 
{
	width: 300px !important;
	height: 200px !important;
	box-shadow: 0 0 0 3px rgba(255,255,255,0.2), 0 0 5px 2px rgba(0,0,0,0.15);
	border-radius: 4px;
	border: solid 0;
	text-align: center;
	color: white;
	font-size: 17px;
	-webkit-transition: all 0.3s linear;
	display: inline-block;
	margin: 25px;
	position: relative;
}
.itemSlot:hover
{
	box-shadow: 0 0 0 3px rgba(255,255,255,0.9);
}
.infoButton
{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	height: 50%;
	width: 100%;
	border: solid 0px;
	background-color: rgba(255,255,255,0.9);
	bottom: 0px;
	position: absolute;
	left: 0px;
	border-top: solid 1px rgba(255,255,255,1);
	box-shadow: 0 -1px 0 rgba(0,0,0,0.3);
	cursor: pointer;
	color: #055a72;
	font-family: Helvetica, Arial, sans-serif;
	text-shadow: rgba(255,255,255,0.496094) 0 1px 0;
	font-weight: normal;
	font-size: 18px;
}

@external infoSlot, fastInfo, javaInfo, crossInfo, aboutInfo;
.infoSlot
{
	background-position: -400px -10px !important;
	background-size: 800px !important;
}
@sprite .fastInfo{
	gwt-image: "bannerFast";	
}
@sprite .crossInfo{
	gwt-image: "bannerCrossDevice";	
}

@external appSlot;
.appSlot{
	background-position: 0px 0px !important;
	background-size: 100% auto !important;
}

@external topTag;
.topTag
{
	padding: 5px;
	padding-bottom: 7px;
	font-weight: bold;
}


/**********************/
/**********************/
/**********************/
/**********************/
/**********************/
/**********************/


h2{
	font-family:'Open Sans',sans-serif;
	font-weight:normal;
	color:#4a4a4a;
	font-size:22px;
	margin-bottom:12px;
}
@external siteHeader;
.siteHeader{
	background:#002f3a;
	background:linear-gradient(#00242c, #004656);
	border-bottom:1px solid #00333e;
	height:168px;
	box-shadow:0 5px 0 rgba(120,132,134,0.5);
}

@external headerContent, topMenuContent, containerHeader;
.headerContent{
	width:980px;
	margin:0 auto;
}

.containerHeader{
	overflow:hidden;
}

@url urlCruxHeaderLogo cruxHeaderLogo;
@external headerLogo;
.headerLogo{
	background:urlCruxHeaderLogo bottom no-repeat;
	width:308px;
	height:79px;
	border:none;
	display:block;
	padding-top:17px;
	cursor:pointer;
	float:left;
}
@external initItems, greenBlock, liLast;
.initItems{
	list-style:none;
	padding:0;
	margin:10px 0 0;
}
.initItems li{
	float:left;
	width:45%;
	margin-right:5%;
	text-align:left;
}
.initItems li.liLast{
	margin-left:5%;
	margin-right:0%;
}
.initItems .greenBlock{
	border:2px solid #87af1e;
	border-radius:4px;
}
.initItems .greenBlock p{
	padding:0 10px;
	font-size:18px;
	line-height:25px;
	font-weight:lighter;
	color:#333;
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
}
.initItems .greenBlock .separator{
	margin-top:-28px;
	margin-bottom:0;
}
.initItems .greenBlock a{
	margin:-8px 10px 10px;
	display:inline-block;
}

@external separator, clear;
.separator{
	width:100%;
	height:28px;
	background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.06));
	border-bottom:1px solid #ececec;
	box-shadow:0 -1px 0 rgba(0,0,0,0.09) inset;
	margin:10px 0;
}
.clear{
	clear:both;
}

@external langButtons, flag, flagbr, flagus, showcaseBtn, showcaseTip;
.langButtons{
	float:right;
}
.langButtons .flag{
	float:left;
	width:16px;
	height:11px;
	min-width:0 !important;
	min-height:0 !important;
	border:none;
	padding:0;
	margin:10px 0 0;
	cursor:pointer;
}
@url urlBrFlag brFlag;
.langButtons .flagbr{
	background:urlBrFlag;
	margin-right:5px;
}
@url urlUkFlag ukFlag;
.langButtons .flagus{
	background:urlUkFlag;
}
.showcaseBtn{
	float:right;
	clear:right;
	margin-top:35px;
	border:none;
	border-radius:4px;
	padding:8px 20px;
	background:linear-gradient(#367381, #367988);
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,0.2);
	box-shadow:0 1px 0 #408898 inset, 0 1px 1px rgba(0,0,0,0.29);
	transition:all 0.9s linear;
	cursor:pointer;
}
.showcaseBtn:hover{
	box-shadow:0 1px 0 #6fa3ac inset, 0 1px 1px rgba(0,0,0,0.29);
	background:linear-gradient(#5e8f9a, #5e94a0);
	transition:all 0.9s linear;
}
@url urlShowcaseTip showcaseTip;
.showcaseTip{
	width:25px;
	height:24px;
	background:urlShowcaseTip no-repeat right top;
	float:right;
	margin-top:-41px;
	margin-right:-1px;
	font-weight:bold;
	padding-right:1px;
}
.showcaseTip b{
	color:#684f12;
	font-size:8px;
	display:block;
	-moz-transform:rotate(45deg);
	text-align:right;
}

@external whoUses, btnCrux, btnSeeAll, andOthers;
.whoUses{
	margin:0;
	padding:0;
	list-style:none;
}
.whoUses li{
	float:left;
	padding:10px 60px 10px 0;
	color:#7f7f7f;
}
.btnCrux{
	padding:9px 14px;
	background:#77a400;
	box-shadow:0 -1px 0 rgba(53,103,0,0.31) inset;
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,0.2);
	font-size:12px;
	text-align:center;
	border-radius:4px;
	border:none;
}
@url urlIconArrowBtn iconArrowBtn;
.btnSeeAll{
	background:urlIconArrowBtn right center no-repeat #77a400;
	text-align:left;
	padding-right:57px;
	/*do the sign */
}
.whoUses .andOthers{
	padding:25px 40px 25px 0px;
}
.whoUses .liLast{
	padding:25px 0;
}

@external footer, footerLogo, footerLogoLogo, footerLogoEtc, footerUl, footerUlTitle, triggoFooterLogo;
.footer{
	background:rgba(0,0,0,0.8);
	border-top:1px solid rgba(0,0,0,0.3);
	box-shadow:0 5px 0 rgba(255,255,255,0.1) inset;
	margin-top:20px;
	text-shadow:0 1px 1px rgba(0,0,0,0.4);
	padding-bottom:10px;
}
.footer .footerLogo{
	float:left;
	padding:30px 0 0;
	font-size:12px;
}
.footer .footerLogo .footerLogoLogo{
	float:left;
	margin-right:10px;
}
.footer .footerLogo .footerLogoEtc{
	float:left;
	padding-top:8px;
}
.footer .footerLogo .footerLogoEtc b{
	color:#fff;
	display:block;
}
.footer .footerLogo .footerLogoEtc span{
	color:#858585;
	display:block;
	font-size:13px;
}
.footer .footerUl{
	margin:18px 20px 0 20px;
	float:left;
}
.footer .footerUl li{
	padding:2px 0;
	color:#a5a5a5;
}
.footer .footerUl li a:hover{
	color:#f6f6f6;
}
.footer .footerUlTitle{
	font-weight:bold;
	color:#dadada !important;
}
.footer .triggoFooterLogo{
	float:right;
	color:#cbcaca;
	font-size:11px;
	margin-top:85px;
}
.footer .triggoFooterLogo img{
	margin-top:4px;
}


@external quickstartList, quickstartCongrats, quickstartInfo, crux-RssPanel, rssPanelBody, box;
.quickstartList{
	color:black;
	counter-reset:quickstartCounter;
	/*list-style:none;*/
	position:relative;
}
.quickstartList:before{
	content:'';
	position:absolute;
	width:2px;
	background:rgba(0,0,0,0.2);
	z-index:2;
	height:72%;
	margin:2% 0 8% -27px;
	box-shadow:0 0 0 1px rgba(0,0,0,0.35);
}
.quickstartList li{
	padding:8px 0;
	position:relative;	
}
.quickstartList li:before{
	position:absolute;
	content:counter(quickstartCounter);
	counter-increment:quickstartCounter;
	width:37px;
	height:37px;
	border-radius:37px;
	box-shadow:0 0 0 3px #8b9ca3 inset;
	background:#a3b0b6;
	text-align:center;
	line-height:37px;
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,0.4);
	font-weight:bold;
	margin-left:-45px;
	z-index:3;
}
.quickstartList img{
	box-shadow:0 0 0 1px rgba(0,0,0,0.23), 0 3px 10px rgba(0,0,0,0.18);
	margin:10px 0;
}
.quickstartCongrats{
	font-weight:lighter;
	color:#696969;
	margin:40px 0;
	text-align:center;
	font-size:24px;
}
.quickstartCongrats b{
	font-weight:bolder;
}
.quickstartInfo{
	margin:50px 0px 10px;
}


@external crux-RssPanel, rssPanelBody, crux-entryDate, rssPanelTitle;
.crux-RssPanel{
	width:100%;
}
.crux-RssPanel table{
	width:100%;
}
.crux-RssPanel .rssPanelBody td{
	border-bottom:none !important;
	cursor:pointer;
	box-shadow:0 -1px 0 rgba(0,0,0,0.06) inset !important;
	padding:11px 0;
}
.crux-RssPanel .rssPanelBody tr:last-child td{
	border-bottom:none;
}
.crux-RssPanel .rssPanelBody tr:hover td{
	background:rgba(0,0,0,0.06);	
}
.rssPanelBody{
	padding:0 !important;
}
.box {
	padding-left:12px;
	font-size:13px;
}
.rssPanelTitle{
	display:none !important;
}
.crux-entryDate{
	padding-right:12px !important;
	box-shadow:none !important;
	border-radius:none !important;
	background:none !important;
	color:#4a4a4a !important;
	font-size:12px !important;
	text-shadow:none !important;
}

@external stackTitle, gwt-StackPanel, stackContent, gwt-StackPanelContent;
.gwt-StackPanel{
	width:100%;
}
.stackTitle{
	background:rgba(243,243,243,0.4);
	border-radius:3px;
	box-shadow:0 0 0 1px rgba(0,0,0,0.17) inset, 0 0 0 2px rgba(255,255,255,0.52) inset;
	color:#455359;
	font-size:12px;
	font-weight:bold;
	padding:6px 10px;
	margin:0 0 1px;
	cursor:pointer;
}
.stackTitle:hover{
	background:rgba(243,243,243,0.6);
}
.stackContent{
	background:linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0)) rgba(71,85,92,0.3);
	margin:-2px 5px 0;
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,0.2);
	overflow:auto;
}
.gwt-StackPanelContent{
	padding:0;
}
.gwt-StackPanelContent p{
	padding:0 10px;	
}


@external subtitleBox, on, bigText;

.subtitleBox{
	border-radius:4px;
	background:#a3b0b6;
	background:linear-gradient(45deg,#a3b0b6,#adb8bf);
	padding:20px;
	overflow:hidden;
	height:82px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight:lighter;
	
}
.subtitleBox h2{
	font-size:25px;
	color:#104b57;
	margin:3px 0;
	font-weight:lighter;
	float:left;
}
.subtitleBox ul{
	float:right;
	margin:12px 0;
	font-size:14px;
}
.subtitleBox ul li{
	padding:0 13px;
	color:#003c5e;
	float:left;
	position:relative;
}
.subtitleBox ul li:after{
	content:'/';
	position:absolute;
	margin-top:-16px;
	right:0;
	margin-right:-1px;
}
.subtitleBox ul li:last-child{
	padding-right:0;
}
.subtitleBox ul li:last-child:after{
	content:'';	
}
.subtitleBox ul li.on a{
	color:#fff;
	font-weight:bold;
}
.subtitleBox ul li a{
	display:block;
}
.bigText p{
	font-size:15px;
	line-height:27px;
	color:#222;
	text-align:justify;
}


@external left right;
.left{
	float:left;
}
.right{
	float:right;
}

@external whoUsesBlocks;

.whoUsesBlocks{
	margin-top:40px;
}
.whoUsesBlocks > li{
	float:left;
	width:45%;
	margin-right:5%;
	padding:0;
	text-align:center;
}
.whoUsesBlocks > li:last-child{
	margin-right:0;
	margin-left:5%;
}
.whoUsesBlocks > li > h3{
	color:#00333e;
	margin:0;
	text-align:center;
	font-size:22px;
}
.whoUsesBlocks > li > h4{
	color:#999;
	margin:3px 0 10px 0;
	text-align:center;
	font-size:16px;
	font-weight:normal;
}

.whoUsesBlocks > li > img{
	margin:15px 22px;
}

@external center;
.center{
	text-align:center;
}

@external teamList, teamImg;
.teamList{
	margin:10px 0 0;
	padding:0;
}
.teamList li{
	float:left;
	margin-right:82px;
	width:130px;
}
.teamList li:nth-child\(5\){
	margin-right:0;
}

@url userBg userBg;
.teamList .teamImg{
	width:130px;
	height:160px;
	background:#fff;
	box-shadow:0 0 0 1px rgba(0,0,0,0.1), 0 2px 10px rgba(0,0,0,0.1);
	margin-bottom:10px;
	background:userBg no-repeat bottom center #fff;
}
.teamList h4{
	color:#003642;
	font-size:13px;
	font-weight:bold;
	margin:0;
}
.teamList h5{
	color:#646464;
	font-size:13px;
	font-weight:normal;
	margin:0;
}
.teamList h6{
	color:#1d1d1d;
	font-size:11px;
	font-weight:bold;
	margin:0;
}

@external mt40;

.mt40{
	margin-top:40px;
}

@external successCasesResume;
.successCasesResume{
	padding:0;
}
.successCasesResume li{
	padding:10px 0;
	margin-bottom:10px;
	text-align:left;
	border-bottom:1px dotted rgba(0,0,0,0.1);
}
.successCasesResume li h4{
	font-size:15px;
	color:rgb(0, 51, 62);
	font-weight:bold;
	margin:0;
}
.successCasesResume li p{
	margin:7px 0 0 0;
	font-size:12px;
}

@external compareTable;
.compareTable{
	width:100%;
	padding:0;
	border-spacing:0;
    border-collapse:collapse;
}
.compareTable thead tr th{
	color:#fff;
	text-align:center;
	font-size:12px;
	padding:7px 10px;
}
.compareTable thead tr th:first-child{
	border-radius:4px 0 0 0;
	font-style:italic;
	font-weight:normal;	
}
.compareTable thead tr th:last-child{
	border-radius:0 4px 0 0;	
}
.compareTable thead tr th:nth-child\(odd\){
	background:#00303b;
	box-shadow:-1px 0 0 rgba(0,0,0,0.15) inset;
}
.compareTable thead tr th:nth-child\(even\){
	background:#002b35;
	box-shadow:-1px 0 0 rgba(0,0,0,0.05) inset;
}
.compareTable tbody tr td{
	border-bottom:1px solid #dbdbdb;
	background:#f4f4f4;
	padding:5px;
	box-shadow:-1px 0 0 rgba(0,0,0,0.05) inset;
	text-align:center;
}
.compareTable tbody tr td:first-child{
	text-align:left;	
}
.compareTable tbody tr td:nth-child\(odd\){
	box-shadow:-1px 0 0 rgba(0,0,0,0.15) inset;
}
.compareTable tbody tr td:nth-child\(even\){
	background:#dbdbdb;
	border-bottom:1px solid #c0c0c0;
}

@url icon1star icon1star;
@url icon2stars icon2stars;
@url icon3stars icon3stars;
@external star1, star2, star3;
.compareTable tbody tr td span.star1{
	width:22px;
	height:21px;
	background:icon1star no-repeat center center;
	display:inline-block;
}
.compareTable tbody tr td span.star2{
	width:22px;
	height:21px;
	background:icon2stars no-repeat center center;
	display:inline-block;
}
.compareTable tbody tr td span.star3{
	width:22px;
	height:21px;
	background:icon3stars no-repeat center center;
	display:inline-block;
}

@external examplesList, exampleCall, exampleText, exampleImg, svnName;
.examplesList{
	padding:0;
}
.examplesList li{
	border-bottom:1px solid rgba(0,0,0,0.1);
	padding-bottom:10px;
	margin-bottom:10px;
}
.examplesList li p{
	color:#373737;
}
.examplesList li .exampleCall{
	width:100%;
	height:113px;
	border-radius:4px;
	margin:5px 0;
	background:#ccc;
	position:relative;
	overflow:hidden;
}
.examplesList li .exampleCall .exampleText{
	position:relative;
	z-index:2;
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
	padding:20px;
}
.examplesList li .exampleCall .exampleImg{
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	-moz-transition:all 0.25s ease-in-out;
}
.examplesList li:hover .exampleCall .exampleImg{
	-moz-transition:all 0.25s ease-in-out;
	-moz-transform:scale(1.1)
}
.examplesList li .exampleCall .exampleText h3{
	font-size:35px;
	font-weight:lighter;
	float:left;
	margin-top:12px;
}
.examplesList li .exampleCall .exampleText .svnName{
	float:right;
	padding:12px 30px;
	border-radius:4px;
	background:rgba(0,0,0,0.5);
	text-align:center;
	margin-top:9px;
}

@external manual, toc, chapter, programlisting, title;
.manual{
	position:relative;
}
.manual .toc{
	position:absolute;
	padding:10px;
	left:0;
	top:0;
	border-radius:4px;
	background:rgba(0,0,0,0.2);
}
.manual .toc li{
	padding:5px 0;	
}
.manual .toc li a:hover{
	-moz-transform:scale(1.1);
	-moz-transition:all 0.2s linear;
}
.manual section.chapter{
	margin-left:280px;
	border-bottom:1px solid rgba(0,0,0,0.2);
	box-shadow:0 2px 0 rgba(0,0,0,0.05);
	padding-bottom:10px;
}
pre.programlisting{
	text-wrap:wrap;
	width:100%;
	overflow-x:scroll;
	background:rgba(0,0,0,0.6);
	box-shadow:0 1px 3px rgba(0,0,0,0.2) inset;
	color:#fff;
	padding:5px 0;
	text-shadow:0 1px 0 rgba(0,0,0,0.4);
	border-radius:4px;
}
.manual section.chapter .toc{
	position:relative;
}
.manual h1.title{
	color:#074754;
}
.manual h2.title{
	color:#222;
	font-size:17px;
}