<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<welcome-file-list>
		<welcome-file>admin/index.html</welcome-file>
	</welcome-file-list>

	<listener>
        <listener-class>br.com.sysmap.crux.core.server.InitializerListener</listener-class>
    </listener>

	<servlet>
		<servlet-name>remoteServiceServlet</servlet-name>
		<servlet-class>br.com.sysmap.crux.core.server.dispatch.RemoteServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>remoteServiceServlet</servlet-name>
		<url-pattern>*.rpc</url-pattern>
	</servlet-mapping>
	
	<!--antReplacementBlockBegin-->
	<!--
	===========================================================================
	Development time CRUX filters: not required in production environment.
	The comments "antReplacementBlockBegin" e "antReplacementBlockEnd" are  
	used by the ant task for removing the filters when generating the application 
	distribution file. Don't remove those comments.
	===========================================================================			
	-->
    <context-param>
    	<param-name>SVNRepositories</param-name>
    	<param-value>http://svn.sysmap.com.br/sysmap/Arquitetura/Java/Projetos/CruxModulesAdmin</param-value>
    </context-param>

	<listener>
        <listener-class>br.com.sysmap.crux.module.listener.ModulesListener</listener-class>
    </listener>

	<filter>
		<display-name>ModulesDeclarativeUIFilter</display-name>
		<filter-name>ModulesDeclarativeUIFilter</filter-name>
		<filter-class>br.com.sysmap.crux.module.filter.ModulesDeclarativeUIFilter</filter-class>
		<init-param>
			<param-name>outputCharset</param-name>
			<param-value>ISO-8859-1</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ModulesDeclarativeUIFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<!--antReplacementBlockEnd-->

</web-app>