BODY
{
	background-color: #C0C0C0;
}

#cruxSplashScreen 
{
	background-color: #C0C0C0;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}

.BorderPanel
{
	width: 607px;
	height: 406px;
	border: solid 0px;
}

.WelcomePanel
{
	background-image: url("../img/crux-quickstart-bg.gif");
	background-repeat: no-repeat;
	background-position: top left;
}

.CommonPanel
{
	background-image: url("../img/common-panel-bg.gif");
	background-repeat: no-repeat;
	background-position: top left;
	padding: 10px;
}

.VersionLabel
{
	color: #A3A3A3;
	font-family: Verdana,Arial,Helvetica;
	font-size: 14px;
	font-weight: bold;
	margin-right: 42px;
	margin-top: 70px;
}

.TitleLabel
{
	color: #808080;
	font-family: Verdana,Arial,Helvetica;
	font-size: 14px;
	font-weight: bold;
}

.FileSystemLabel
{
	color:#6C83C3;
	font-family:Verdana,Arial,Helvetica;
	font-size:12px;
	text-decoration: underline;
	cursor: pointer;
	white-space: nowrap;
	font-weight: bold;
}

.FormLabel
{
	color: #404040;
	font-family: Verdana,Arial,Helvetica;
	font-size: 12px;
	font-weight: normal;
}

.FileSystemSeparator
{
	color: #6C83C3;
	font-family: Verdana,Arial,Helvetica;
	font-size: 12px;
	text-decoration: none;
	margin-left: 2px;
	margin-right: 2px; 
}

.DirectorySelectionBox
{
	border:solid 1px #AAAAAA;
}

.DirectoryItem
{
	border-bottom: 1px dotted #EEEEEE;
	cursor: pointer;
}

.HelpIcon
{
	margin-left: 4px;
	cursor: pointer;
	width: 16px;
	height: 16px;
}

.HelpDialog
{
	background-color:#FFFFE1;
	border-color:#909090;
	border-style:solid;
	border-width:1px 2px 2px 1px;
	padding:5px;
}